%h1 Admin

%ul
  %li= link_to 'Products', products_path
  %li= link_to 'Price Combos', price_combos_path
  %li= link_to 'Purchases', purchases_path

= link_to 'Store', store_path
%br
= link_to 'Home', root_path