= render 'layouts/userbar'
= render 'layouts/headerbar'

#content
  .dotbox
    #store
      = render 'store'
    #products.hidden
      = render 'products'
    #services.hidden
      = render 'services'