%h1 Listing All Players

%table.woods-admin-table
  %thead
    %tr
      %th Username
      %th Finds
      %th Item downloads
      %th

  %tbody
    - @players.each do |woods_player|
      %tr
        %td= woods_player.username
        %td= woods_player.finds.size
        %td= woods_player.item_download_count
        %td= link_to 'Public page', woods_player

%br

= render "admin/admin_link"
