#woods-player-display-panel.zero-margin
  %h2.center= @player.username
  %table.player-stats-table
    %tr
      %th= "Total score: #{@player.total_score}"
      %td= "Lefts: #{@player.left_count}"
      %td= "Rights: #{@player.right_count}"

  - if @player.finds.size > 0

    %table.player-finds-table.modest-width
      %thead
        - if current_player && current_player.id == @player.id
          %tr
            %th{colspan: 2, style: "text-align: center;"}
              = link_to "Download your diamonds!", root_path, class: "niceblue"
        %tr
          %th
            %h3= "Total finds: #{ @player.finds.size }"
          %th Value

      %tbody

        - @player.finds.each do |f|
          %tr
            %td= f.item.name
            %td= f.item.value

  %br
  .center
    - if current_user.admin?
      = link_to "Admin: Players index", woods_players_path
      |
    = link_to "Back to Diamond Find", diamondfind_path, class: "niceblue"
