%h1 Free Gifts

= link_to '+ New Gift', new_store_free_gift_path
%br

%table.products-table
  %thead
    %tr
      %th Product
      %th Giver
      %th Recipient
      %th Origin
      %th Date

  %tbody
    - @free_gifts.each do |free_gift|
      %tr
        %td= free_gift.product.title
        %td= free_gift.giver ? free_gift.giver.fullname : ""
        %td= free_gift.recipient ? free_gift.recipient.fullname : ""
        %td= free_gift.origin
        %td= free_gift.created_at.strftime("%B %e, %Y")

%strong= "#{@free_gifts.size} total gifts."

= render "admin/admin_link"
