= form_for @woods_box do |f|
  - if @woods_box.errors.any?
    #error_explanation
      %h2= "#{pluralize(@woods_box.errors.count, "error")} prohibited this woods_box from being saved:"
      %ul
        - @woods_box.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
