= form_for @box do |f|
  - if @box.errors.any?
    #error_explanation
      %h2= "#{pluralize(@box.errors.count, "error")} prohibited this woods_box from being saved:"
      %ul
        - @box.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
