%p.embolden= @order.created_at.strftime("%B %e, %Y  %I:%M %p")
%p= @order.payment_id

%table.product-table.small-width
  %tbody
    - @order.digital_purchases.each do |digital_purchase|
      - type = digital_purchase.single? ? "ebook" : "5-pack"
      %tr
        %td= "#{digital_purchase.product.title} #{type}"
        %td= Money.new( digital_purchase.price ).format

    - @order.physical_purchases.each do |physical_purchase|
      - type = physical_purchase.single? ? "Paperback" : "multipack"
      %tr
        %td= "#{physical_purchase.product.title} #{type}"
        %td= Money.new( physical_purchase.price ).format

  - if @order.discount > 0
    %tr
      %th= "Discount:"
      %th.greener= Money.new( @order.discount ).format

  %tr
    %th= "Tax:"
    %th= Money.new( @order.tax ).format

  - if @order.shipping_cost_cents > 0
    %tr
      %th= "Shipping:"
      %th= Money.new( @order.shipping_cost_cents ).format

  %tr
    %th= "Total:"
    %th= Money.new( @order.total ).format
%p.diminutive All prices expressed in CAD.

%br
%p Thank you for your purchase!
%h4 Christian DeWolf
%h6 Wolf Butler Art & Software
