%h1 Orders

%table.product-table
  %thead
    %tr
      %th Date
      %th User
      %th Revenue
      %th Discount
      %th Tax
      %th Total

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.created_at.strftime("%b %e '%y")
        %td= order.user.username
        %td= Money.new( order.digital_purchases.map(&:price).reduce(0, :+) ).format
        %td= Money.new( order.discount ).format
        %td= Money.new( order.tax ).format
        %td= Money.new( order.total ).format

  %thead
    %tr
      %th
      %th
      %td.embolden= Money.new( @orders.collect{|o| o.digital_purchases.map(&:price).reduce(0, :+) }.reduce(0, :+) ).format
      %td.embolden= Money.new( @orders.collect{|o| o.discount}.reduce(0, :+) ).format
      %td.embolden= Money.new( @orders.collect{|o| o.tax}.reduce(0, :+) ).format
      %td.embolden= Money.new( @orders.collect{|o| o.total}.reduce(0, :+) ).format

= render "admin/admin_link"
