= form_for @itemset do |f|
  - if @itemset.errors.any?
    #error_explanation
      %h2= "#{pluralize(@itemset.errors.count, "error")} prohibited this woods_itemset from being saved:"
      %ul
        - @itemset.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
