%h1 Listing Itemsets

%table.small-width.woods-table
  %thead
    %tr
      %th Itemset
      %th # items
      %th Instances hidden
      %th Boxes

  %tbody
    - @itemsets.each do |i|
      %tr
        %td= link_to i.name, woods_story_itemset_path(@story, i)
        %td= i.items.size
        %td= i.possibleitems.size == 0 ? "" : i.possibleitems.size
        %td= i.boxes.size == 0 ? "" : i.boxes.size
%br

.woods-box
  %h3 New Itemset
  = render 'form'

= link_to "Back to story manager", manage_woods_story_path(@story)
