%h1= @itemset.name

- if @items.size > 0
  %table.modest-width
    %tr
      %td
        = select_tag 'items', options_from_collection_for_select(@items, "id", "name"), multiple: true, class: 'item-selectbox', onchange: "selectItem( parseInt( $(this).val() ) );"
      %td
        #itemform.hidden
          = form_tag(woods_story_itemset_item_path(@story, @itemset, @items.first), id: 'updateitem-form', method: :put) do
            %span Name:
            = text_field_tag 'woods_item[name]', nil, size: 40
            %br
            %span Description:
            %br
            = text_area_tag 'woods_item[legend]', nil, { rows: 10, cols: 40 }
            %br
            %span Value:
            = number_field_tag 'woods_item[value]', nil, { step: 1, min: -50, max: 150 }
            %span Winning condition:
            = check_box_tag 'woods_item[winning_condition]', ""
            %br
            = submit_tag :Update

.woods-box
  %h3 Add new item
  = render '/woods/items/form'

%br

= link_to 'Back to itemsets', woods_story_itemsets_path(@story)



:javascript

  var items = #{@items.to_json};
  var story_id = #{@story.id};
  var itemset_id = #{@itemset.id};

  function selectItem(selected_id) {
    $('#itemform').removeClass('hidden');

    var the_item = $.grep(items, function(e){ return e.id === selected_id; })[0];
    $('#woods_item_name').val(the_item.name);
    $('#woods_item_legend').val(the_item.legend);
    $('#woods_item_value').val( the_item.value );
    $('#woods_item_winning_condition')[0].checked = the_item.winning_condition;

    $('#updateitem-form').attr("action", "/woods/stories/" + story_id + "/itemsets/" + itemset_id + "/items/" + the_item.id);
  }
