- if @assistant.name

  %p
    %strong
      %span= link_to "Contacts", crm_contacts_path, class: 'contact-color'
      ·
      %span= link_to "Obligations", crm_obligations_path, class: 'obligation-color'
      ·
      %span= link_to "Meetings", crm_meetings_path, class: 'meeting-color'
      ·
      %span= link_to "Tasks", crm_tasks_path, class: 'task-color'
  %p
    %strong
      %span= link_to "Ideas", crm_ideas_path, class: 'idea-color'
      ·
      %span= link_to "Books", crm_books_path, class: 'book-color'
      ·
      %span= link_to "Reminders", reminders_crm_assistants_path, class: 'reminder-color'

  - if @upcoming_events.size > 0
    %h3 Upcoming meetings + deadlines

    %table.crm-table.thirds-table
      %thead
        %tr
          %th Task/event
          %th With
          %th Date
          %th

      %tbody
        - @upcoming_events.each do |event|
          - if event[:type] == "Meeting"
            - rowclass = "meeting-row"
          - elsif event[:type] == "Obligation"
            - rowclass = "obligation-row"
          - elsif event[:type] == "Task"
            - rowclass = "task-row"
          - else
            - rowclass = ""

          %tr{class: "#{rowclass}"}
            %td= event[:name]
            %td= event[:with]
            %td
              - if event[:type] == "Meeting"
                = relative_time( event[:date], true )
              - else
                = relative_time( event[:date] )
            %td
              - event[:paths].each do |path|
                - path.keys.each do |k|
                  %span
                    = link_to k.to_s.titlecase, path[k], method: :post

  - if @reading_books.size > 0
    %h3 Currently reading
    %table.crm-table.book-table
      %thead
        %tr
          %th Title
          %th Author
          %th

      %tbody
        - @reading_books.each do |book|
          %tr
            %td= book.title
            %td= book.author
            %td
              = link_to 'Finish', finish_crm_book_path( book ), method: :post

- elsif !current_user
  %h1 You aren't signed in!
  %p
    = link_to 'Sign in', main_app.user_session_path
    or
    = link_to 'Sign up',  main_app.new_user_registration_path
    to access this area.

- else
  %h3 You don't have an Assistant yet!  Create one now.

  = form_for @assistant do |f|
    - if @assistant.errors.any?
      #error_explanation
        %h2= "#{pluralize(@assistant.errors.count, "error")} prohibited your Assistant from being saved:"
        %ul
          - @assistant.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :name
      %br
      = f.text_field :name, required: true

    .field
      = f.label "Personality:"
      %br
      = f.select :personality_id, options_for_select( Crm::Assistant::PERSONALITIES, @assistant.personality_id), class: ""

    = f.submit 'Save', class: 'store-button'
