- if @assistant.name

  %p
    %strong
      %span= link_to "Contacts", crm_contacts_path, class: 'contact-color'
      ·
      %span= link_to "Obligations", crm_obligations_path, class: 'obligation-color'
      ·
      %span= link_to "Meetings", crm_meetings_path, class: 'meeting-color'
      ·
      %span= link_to "Tasks", crm_tasks_path, class: 'task-color'
  %p
    %strong
      %span= link_to "Ideas", crm_ideas_path, class: 'idea-color'
      ·
      %span= link_to "Books", crm_books_path, class: 'book-color'
      ·
      %span= link_to "Reminders", reminders_crm_assistants_path, class: 'reminder-color'

  - if @upcoming_events.size > 0
    %h3 This week
    = render "events_table", locals: { events_group: @upcoming_events }

  - if @future_events.size > 0
    %h3 Future events
    = render "events_table", locals: { events_group: @future_events }

  - if @reading_books.size > 0
    %h3 Currently reading
    %table.crm-table.book-table
      %thead
        %tr
          %th Title
          %th Author
          %th

      %tbody
        - @reading_books.each do |book|
          %tr
            %td= book.title
            %td= book.author
            %td
              = link_to 'Finish', finish_crm_book_path( book ), method: :post

- elsif !current_user
  = render "not_signed_in"
- else
  = render "no_assistant"
