- if @assistant.name

  %p
    %span= link_to "Contacts", crm_contacts_path
    |
    %span= link_to "Obligations", crm_obligations_path
    |
    %span= link_to "Meetings", crm_meetings_path
    |
    %span= link_to "Tasks", crm_tasks_path
    |
    %span= link_to "Ideas", crm_ideas_path
    |
    %span= link_to "Books", crm_books_path
    |
    %span Reminders

  - if @obligations.size > 0
    %br

    %table.crm-table.thirds-table
      %thead
        %tr
          %th Event
          %th With
          %th Date

      %tbody
        - @obligations.each do |obligation|
          %tr
            %td= obligation.name
            %td= obligation.contact.full_name
            %td= obligation.personal_time

- elsif !current_user
  %h1 You aren't signed in!
  %p
    = link_to 'Sign in', main_app.user_session_path
    or
    = link_to 'Sign up',  main_app.new_user_registration_path
    to access this area.

- else
  %h3 You don't have an Assistant yet!  Create one now.

  = form_for @assistant do |f|
    - if @assistant.errors.any?
      #error_explanation
        %h2= "#{pluralize(@assistant.errors.count, "error")} prohibited your Assistant from being saved:"
        %ul
          - @assistant.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :name
      %br
      = f.text_field :name, required: true

    .field
      = f.label "Personality:"
      %br
      = f.select :personality_id, options_for_select( Crm::Assistant::PERSONALITIES, @assistant.personality_id), class: ""

    = f.submit 'Save', class: 'store-button'
