%h2.center Create your account!

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label "Choose how your name will be displayed to others:"
    %br
    = f.text_field :username, autocomplete: "off", placeholder: "Enter a username"

  .field
    = f.label "Please enter your first and last names:"
    %br
    = f.text_field :first_name, autocomplete: "off", placeholder: "First name", class: "half"
    = f.text_field :last_name, autocomplete: "off", placeholder: "Last name", class: "half"

  .field
    = f.label "Please enter your email address:"
    %br
    = f.email_field :email, autocomplete: "off", placeholder: "Email address"

  .field
    = f.label "Please choose a secure password."
    %br
    = f.password_field :password, autocomplete: "off", placeholder: "Enter a password"
    %br
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm your password"

  .field
    = f.label :send_me_emails, "Can I email you occasionally about future releases?"
    %br
    = f.check_box :send_me_emails, checked: 'checked'
    = f.label :send_me_emails, "Yes, please"

  .actions.center
    = f.submit "Create an account", class: "store-button bigger"
    %br
    %br
    %span
      #{ link_to "Sign in", new_session_path(resource_name)  } | #{ link_to "Home", root_path }
