.smart-panel
  .center
    = image_tag "comedygold-cards.jpg", class: 'comedygold-image', alt: "Comedy Gold: high-end magnetic comedy", title: "Comedy Gold: high-end magnetic comedy"
    %h2.nugget-header Comedy Gold

  %p.nugget-description
    %strong You're pre-approved!
    Each limited edition lustrecard comes magnetically encoded with a nugget of unique comedy & a code to unlock it here for everyone.

  -# %p.nugget-description
  -#   Get a piece of Comedy Gold with a
  -#   %strong= link_to "Lifetime Membership.", memberships_path, class: 'white'

  .nugget-unlock-container
    - if current_user
      %h3.nugget-subheading Unlock your joke:
      .nugget-unlock-box
        = form_tag(unlock_nuggets_path, id: 'nugget-unlock-form', method: :post) do
          = text_field_tag 'access_code', nil, class: 'comedygold-input', onKeyPress: "updateSubmitButton();"
          = submit_tag :Unlock, class: 'comedygold-submit-button', disabled: true
    - else
      %p.nugget-description
        %strong= link_to "Log in", main_app.user_session_path, class: "better-gold"
        or
        %strong= link_to "sign up", main_app.new_user_registration_path, class: "better-gold"
        to unlock a joke.

  %table.nugget-table
    - @nuggets.each do |nugget|
      %tr
        - if nugget.unlocked?
          %td
            %span.nugget-serial= nugget.serial_number
          %td.nugget-joke-cell
            %span.nugget-joke.nugget-gold= nugget.joke
        - else
          %td
            %span.nugget-serial= nugget.serial_number
          %td.nugget-locked-cell
            %span.nugget-joke.nugget-locked= "MAGNETICALLY LOCKED"

  .center
    %p.nugget-description
      With priceless contributions from
      = link_to "Kyle Carpenter", "https://twitter.com/ParttimeKyle", class: "better-gold"
      and
      = link_to "Bruce Delo.", "https://www.flyknifecomics.com", class: "better-gold"

  .center
    = link_to "Home", root_path, class: 'niceblue'

:javascript

  function updateSubmitButton() {
    $('.comedygold-submit-button').prop("disabled", false);
  }
