.smart-panel
  %h1.nugget-header Comedy Gold
  -# TODO actually make the above an image

  %p.nugget-description
    %strong You're pre-approved!
    Each
    %em extremely limited edition
    card comes magnetically encoded with a nugget of unique comedy & an access code to unlock it here on the central database.

  .nugget-unlock-container
    - if current_user
      %h3.nugget-subheading Unlock your joke:
      .nugget-unlock-box
        = form_tag(unlock_nuggets_path, id: 'nugget-unlock-form', method: :post) do
          = text_field_tag 'access_code', nil, class: 'comedygold-input', onKeyPress: "updateSubmitButton();"
          = submit_tag :Unlock, class: 'comedygold-submit-button', disabled: true
    - else
      %p.nugget-description
        %strong Please log in to unlock a joke.

  %table.nugget-table
    - @nuggets.each do |nugget|
      %tr
        - if nugget.disbursed
          - if nugget.unlocked?
            %td
              %span.nugget-serial= nugget.serial_number
            %td.nugget-joke-cell
              %span.nugget-joke.nugget-gold= nugget.joke

          - else
            %td
              %span.nugget-serial= nugget.serial_number
            %td.nugget-locked-cell
              %span.nugget-joke.nugget-locked= "MAGNETICALLY LOCKED"

        - else
          %td
            %span.nugget-serial= nugget.serial_number
          %td.nugget-buy-cell
            %span.nugget-joke.nugget-buy= "Buy now: #{ Money.new( nugget.calc_price ).format }"

:javascript

  function updateSubmitButton() {
    $('.comedygold-submit-button').prop("disabled", false);
  }
