= form_for @find do |f|
  - if @find.errors.any?
    #error_explanation
      %h2= "#{pluralize(@find.errors.count, "error")} prohibited this woods_find from being saved:"
      %ul
        - @find.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
