%h2 Your receipt from the ChristianDeWolf.com eBook Marketplace:

%p= @order.created_at.strftime("%B %e, %Y  %I:%M %p")
%p= @order.payment_id

%ul
  - @order.digital_purchases.each do |digital_purchase|
    %li
      %p
        - type = digital_purchase.single? ? "ebook" : "5-pack"
        %span= "#{digital_purchase.product.title} #{type}: "
        %span= Money.new( digital_purchase.price_cents ).format

      - if @order.discount > 0
        %p
          %span= "Discount: "
          %span= Money.new( @order.discount_cents ).format

      %p
        %span= "Tax: "
        %span= Money.new( @order.tax_cents ).format

      %p
        %span= "Total: "
        %span= Money.new( @order.total_cents ).format

%p All prices expressed in CAD.

%br
%p Thank you for your purchase!

= render 'signature'
