%p= "Hi #{ @recipient.first_name },"

%p= "#{ @sender.fullname } thought you'd enjoy #{ @product.title }, and has given you a free digital copy!"

%p It's been added to your library on ChristianDeWolf.com. Enjoy!

= render 'signature'
