= form_for @price_combo do |f|
  - if @price_combo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@price_combo.errors.count, "error")} prohibited this price_combo from being saved:"
      %ul
        - @price_combo.errors.full_messages.each do |msg|
          %li= msg
  %table.modest-width
    %tr.field
      %td= f.label :name
      %td= f.text_field :name
    %tr.field
      %td= f.label :discount
      %td= f.text_field :discount, value: ( number_with_precision( f.object.discount, precision: 2) || 0 )
    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
