= image_tag "melon/melon-transparent.png", alt: "m3lon logo", class: 'main-melon-logo', onclick: 'resetMelons();'

.melon-chooser-wrapper
  %h1.melon-text-m Choose a melon:
  .melon-shelf
    = image_tag "melon/melon-orange.png", class: "clickable-melon", onclick: "melonClick(0);"
    = image_tag "melon/melon-yellow.png", class: "clickable-melon", onclick: "melonClick(1);"
    = image_tag "melon/melon-green.png",  class: "clickable-melon", onclick: "melonClick(2);"

.melon-choice-wrapper
  %h1.melon-text-l You selected:
  .orange-content
    = image_tag "melon/melon-orange.png", class: "final-melon", onclick: "showStoreButton();"
    %h1.melon-orange The orange melon
    %p.dark-orange "A fine melon."
    .store-link-wrapper
      %a.melon-link{href: "https://www.christiandewolf.com?melon=0", onclick: "hideStoreLink();"}
        %h1 Visit the webstore
  .yellow-content
    = image_tag "melon/melon-yellow.png",  class: "final-melon", onclick: "showStoreButton();"
    %h1.melon-yellow The yellow melon
    %p.dark-yellow  "A classic melon."
    .store-link-wrapper
      %a.melon-link{href: "https://www.christiandewolf.com?melon=1", onclick: "hideStoreLink();"}
        %h1 Visit the webstore
  .green-content
    = image_tag "melon/melon-green.png", class: "final-melon", onclick: "showStoreButton();"
    %h1.melon-green The green melon
    %p.dark-green "A quality melon."
    .store-link-wrapper
      %a.melon-link{href: "https://www.christiandewolf.com?melon=2", onclick: "hideStoreLink();"}
        %h1 Visit the webstore

:javascript

  melonChosen = null;

  function melonClick( melonChoice ) {

    request = void 0;
    request = $.ajax({
        type: 'POST',
        url: '/melon.json',
        dataType: 'json',
        data: { 'melon': { 'type_id' : melonChoice } }
      });

    request.done(function(data, textStatus, jqXHR) {
      melonChosen = data.melonType;
      if (melonChosen === 0) {
        $('.orange-content').css('display', 'block');
      } else if (melonChosen === 1) {
        $('.yellow-content').css('display', 'block');
      } else if (melonChosen === 2) {
        $('.green-content').css('display', 'block');
      }

      $('.melon-chooser-wrapper').fadeOut('slow', function() {
        $('.melon-choice-wrapper').fadeIn('slow');
      })
    });

    request.error(function(jqXHR, textStatus, errorThrown) {
      console.log(textStatus);
    });

  }

  function showStoreButton() {
    $('.store-link-wrapper').fadeIn('slow');
  }

  function hideStoreLink() {
    $('.store-link-wrapper').fadeOut('slow');
  }

  function resetMelons() {
    if ( melonChosen || melonChosen === 0 ) {
      melonChosen = false;
      $('.melon-choice-wrapper').fadeOut('slow', function() {
        $('.orange-content').css('display', 'none');
        $('.yellow-content').css('display', 'none');
        $('.green-content').css('display', 'none');
        $('.store-link-wrapper').css('display', 'none');
        $('.melon-chooser-wrapper').fadeIn('slow');
      })
    }
  }
