.badger-post
  %p.embolden.subtle.datemargin= "#{date_of( locals[:post][:title] ).strftime("%B %e, %Y") }"
  = render "badger/posts/blog_#{ locals[:post][:title] }"
  = render "badger/post_footer", locals: { post: locals[:post] }
