%a.no-dec{href: "/badger/show_post?post=#{ locals[:post][:title] }"}
  %span.whitener= "#{date_of( locals[:post][:title] )}"
  %span.grayer --
  %span.embolden= "#{title_of( locals[:post][:title] )}"
