= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  %table.modest-width
    %tr.field
      %td= f.label :title
      %td= f.text_field :title
    %tr.field
      %td= f.label :author
      %td= f.text_field :author
    %tr.field
      %td= f.label :short_desc
      %td= f.text_area :short_desc, cols: 50, rows: 10
    %tr.field
      %td= f.label :long_desc
      %td= f.text_area :long_desc, cols: 50, rows: 10
    %tr.field
      %td= f.label :price
      %td= f.text_field :price, value: ( number_with_precision( f.object.price, precision: 2) || 0)
    %tr.field
      %td= f.label :physical_price
      %td= f.text_field :physical_price, value: ( number_with_precision( f.object.physical_price, precision: 2) || 0)
    %tr.field
      %td= f.label :rank
      %td= f.number_field :rank
    %tr.field
      %td= f.label :image
      %td= f.text_field :image
    %tr.field
      %td= f.label :small_image
      %td= f.text_field :small_image
    %tr.field
      %td= f.label :logo_image
      %td= f.text_field :logo_image
    %tr.field
      %td= f.label :popularity_image
      %td= f.text_field :popularity_image
    %tr.field
      %td= f.label :coming_soon
      %td= f.check_box :coming_soon, value: @product.coming_soon
    %tr.field
      %td= f.label :slug
      %td= f.text_field :slug
    %tr.field
      %td= f.label :filename
      %td= f.text_field :filename

    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
