%h1 Products

%table.product-table
  %thead
    %tr
      %th Title
      %th Price
      %th Releases
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title, edit_store_product_path(product)
        %td= Money.new( product.price_cents ).format
        %td
          - product.releases.each do |release|
            = release.format
        %td= link_to 'Manage Releases', store_product_releases_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

= link_to '+ Add Product', new_store_product_path

= render "admin/admin_link"
