= form_for @moverule do |f|
  - if @moverule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@moverule.errors.count, "error")} prohibited this woods_moverule from being saved:"
      %ul
        - @moverule.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
