= form_for @possibleitem do |f|
  - if @possibleitem.errors.any?
    #error_explanation
      %h2= "#{pluralize(@possibleitem.errors.count, "error")} prohibited this woods_possibleitem from being saved:"
      %ul
        - @possibleitem.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
