%h1.center Admin

.small-width.maintenance-panel
  .embolden Site Management
  %ul
    %li= link_to 'View Users', user_report_path
    %li= link_to 'View Logs', logs_path

  .embolden Store Maintenance
  %ul
    %li= link_to 'Products', products_path
    %li= link_to 'Price Combos', price_combos_path

  .embolden Reports
  %ul
    %li= link_to 'Orders', orders_path
    %li= link_to 'Purchases', purchases_path
    %li= link_to 'Downloads', downloads_products_path
    %li= link_to 'Newsletter signups', newsletter_signups_path

  .embolden Testing
  %ul
    %li= link_to 'Test welcome email', emailtest_admin_index_path
    %li= link_to 'Test receipt email', receipttest_admin_index_path
    %li= link_to 'Cause exception!', cause_exception_admin_index_path


.small-width.maintenance-panel.next-row-over
  .embolden BinaryWoods
  %ul
    %li= link_to 'Stories', woods_stories_path
    %li= link_to 'Players', woods_players_path
    %li= link_to 'Manage Diamond Find', manage_woods_story_path(1)

  .embolden CRM
  %ul
    %li= link_to "CRM stats", crm_stats_admin_index_path

  .embolden Property Management
  %ul
    %li= link_to 'Watch Properties', watch_properties_path

  .embolden Diversions
  %ul
    %li= link_to 'Go Joke info page', go_path
    %li= link_to 'Diversions Index', diversions_path

.center
  = link_to 'Home', root_path
