%h2 On Writing (Novellas)

%p
  I buckled down this summer and finished
  = succeed "!" do
    %strong Snapback Volume 2
  It ended up about 5,000 words longer than the first volume, and I think it's considerably better. But you'll have to wait for September to decide for yourself. I'll have copies at
  = succeed "." do
    = link_to "Hal-Con", 'http://www.hal-con.ca', target: 'blank', class: 'blog-link'

%p Writing one novella per year, I've found, is a manageable task. Even with a full-time job, I've been able to muster up the motivation, two years in a row, to produce something that's 20-25k words. It's not a lot, and in years past, I've produced far, far more.

%p
  %strong Ghostcrime
  was different. I really got going in 2009, when I was unemployed, and I wrote about 40k before burning out and putting it away for half a decade. When my life stabilized, I picked it up again and wrote the second half in 6 months, producing the masterpiece that we
  = succeed "." do
    = link_to "all love", 'https://www.goodreads.com/book/show/27874907-ghostcrime', target: 'blank', class: 'blog-link'
  But it was a considerable effort that drained me, and in the ~7 years it took to fully produce, I had nothing to show for it until the end.

%p
  The idea with
  %strong Snapback
  is to produce and release consistently. To always have something new to sell at the conventions, and keep improving my writing and publishing process with faster iterations. So far, it's been working. And in a few years, I'll even have something I can push together into a single volume.

%p
  What would it take me to write another novel? Money and time, probably, in large quantities. But even if I devoted all my energy to producing a novel, I don't see why I wouldn't release it in serial. There were complaints when the seventh Harry Potter film would be split up into two parts, but does anyone care that they're not a single work now? If you can watch them one after another, what's the difference?

%p
  So those are my thoughts on big writing projects. But who knows -- maybe you're more productive than me and more disciplined, and you can write a novel without having your life fall apart as you do it.

%p I look forward to reading it.
