%h2 New book in the works

%p
  I've been sitting on a novella for years, so long now that the technology the characters use seem dated. It's never been perfect, though it gets better every year, and it's always needed some art, which I am not qualified to do. The book is called
  = succeed "," do
    %strong
      Snapback
  and it's about some Go-playing friends who get wrapped up in an international board game conspiracy.

%p
  = link_to "Bruce Delo", "https://www.flyknifecomics.com/", target: "blank", class: 'blog-link'
  loved the draft I sent him, and we thought he might be able to do the images, but he's going to be pretty busy on the next volume of
  = succeed "." do
    = link_to "Kobra Stallion", "https://tapastic.com/series/kobra-stallion-1", target: "blank", class: 'blog-link'
  If he's going to get it out for
  = succeed "," do
    = link_to "Hal-Con 2016", 'http://www.hal-con.ca', target: 'blank', class: 'blog-link'
  I can't take him away from production. It is huge. And from the script and the first 50-60 pages, there's no doubt it's going to be amazing.

%p
  Recently, though, I've been working with
  = succeed "," do
    = link_to "Dawn Davis", "http://www.playerprophet.com/", target: "blank", class: 'blog-link'
  and she's going to illustrate! This is very exciting news because Dawn is mega-talented and I think her style really works for the story.

%p
  So, at long last,
  %strong Snapback
  will be released. It's going to the first in a series of 3 or 4 short novellas, all hopefully adding up to the bulk of one regular-sized novel. This lets me release faster and experiment with episodic structure.

%p
  Can't wait to see you all at Hal-Con.
