.center= image_tag("fractalfic/title.png", alt: "FractalFic", class: 'graveyard-image')

%p{style: "margin-top: 0"} FractalFic was a collaborative story platform with a focus on usability and balanced, fractal story structure.

.center= image_tag("fractalfic/site-editor.png", alt: "FractalFic Editor", class: 'graveyard-image')

%p
  It operated for 1.5 years and was invaluable during editing and maintenance of the
  = link_to "Diamond Find", diamondfind_path, class: 'niceblue'
  Story Choice Adventure.

.center= image_tag("fractalfic/site-player.png", alt: "Diamond Find running on FractalFic", class: 'graveyard-image')

%p FractalFic served its purpose, but shutting it down was a huge weight off my shoulders. Thanks for using it, if you did.

%p
  It was primarily marketed through
  = succeed "." do
    = link_to "ClamBlog", "http://clamblog.blogspot.com/2014/06/chowder-and-chat-programmer-visits-house.html", class: 'niceblue'

%p.center= link_to "Back to Graveyard", graveyard_index_path, class: 'niceblue'
