.center= image_tag("fractalfic/title.png", alt: "FractalFic")

%p{style: "margin-top: 0"} FractalFic was a collaborative story platform with a focus on usability and balanced, fractal story structure.

.center= image_tag("fractalfic/site-editor.png", alt: "FractalFic Editor", width: '650px')

%p
  It operated for 1.5 years and was invaluable during editing and maintenance of the
  = link_to "Diamond Find", diamondfind_path, class: 'niceblue'
  Story Choice Adventure. Although creating an account was free, the site was seldom used.

.center= image_tag("fractalfic/site-player.png", alt: "Diamond Find running on FractalFic", width: '650px')

%p FractalFic served its purpose, but shutting it down was a huge weight off my shoulders. Thanks for using it, if you did.

%p.center= link_to "Back to ChristianDeWolf.com", root_path, class: 'niceblue'
