#gray
  %table
    %tr
      %td
        #mobile-gray-cover
          = image_tag("butler/gray-cover.jpg", alt: "The cover of Gray", class: 'graveyard-image')

        .center
          %h1 Just another week on the fourth floor...

          %p.justify Father Gray is a successful real estate agent at SootCo, coasting on the work of others while he hides in his office, perfecting his hazelnut cappuccino recipe. But Cat City favours the cats, and when the other animals decide to rise up and take over, the SootCo team gets embroiled in a battle they want absolutely no part of.

          = image_tag("butler/coffeecup.jpg", alt: "A coffee cup from Gray")

          %p.justify Threatened by a well-armed strike team from competitor Real Estate Unlimited, as well as the possibility that the third floor might contain ghosts, Gray and his coworkers need to use all of their swivel chair expertise to protect their lives, their jobs, and their reputation with the fancy lobster place across the street, which does not look favourably on cancelled reservations.

          = image_tag("butler/lobster.jpg", alt: "A lobster from Gray", class: 'graveyard-image')

          %p.justify
            %strong Gray
            was my first novel and also my worst. It is now out of print.

          %p.center= link_to "Back to Graveyard", graveyard_index_path, class: 'niceblue'

      %td
        #gray-cover
          = image_tag("butler/gray-cover.jpg", class: "gray-slider", alt: "The cover of Gray")

:javascript

  function grayscroller() {
    var vPosition = window.pageYOffset,
        contentHeight = 1200;
    if(vPosition < contentHeight) {
      $('#gray-cover').css("margin-top", vPosition - 500 + 'px');
    }
  }

  $(document).ready(function() {
    // Create cross browser requestAnimationFrame method:
    window.requestAnimationFrame = window.requestAnimationFrame
     || window.mozRequestAnimationFrame
     || window.webkitRequestAnimationFrame
     || window.msRequestAnimationFrame
     || function(f){setTimeout(f, 1000/60)};

    window.addEventListener('scroll', function(){
      if (typeof grayscroller === 'function') {
        requestAnimationFrame(grayscroller);
      }
    }, false)

    grayscroller();
  });
