= form_for @footprint do |f|
  - if @footprint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@footprint.errors.count, "error")} prohibited this woods_footprint from being saved:"
      %ul
        - @footprint.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
