= form_for @treelink do |f|
  - if @treelink.errors.any?
    #error_explanation
      %h2= "#{pluralize(@treelink.errors.count, "error")} prohibited this woods_treelink from being saved:"
      %ul
        - @treelink.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
