%h1 Users

= render "/layouts/paginator", data: @users

%table.product-table
  %thead
    %tr
      %th Bio
      %th Activity

  %tbody
    - @users.each do |user|
      %tr
        %td
          %p
            Username:
            = link_to (user.username || "INVITED"), user_path( user )
          %p= "Name: #{user.full_name}"
          %p= "Email: #{user.email}"
          %p= "Signed up: #{user.created_at.strftime("%e %b %Y")}"
          %p= "Last log-in: #{user.last_sign_in_at ? user.last_sign_in_at.strftime("%e %b %Y") : "Never" }"
        %td
          %p= user.player ? "Woods Player" : ""
          %p= user.assistant ? "CRM Assistant" : ""
          %p= user.send_me_emails ? "Send me emails!" : "Do NOT send me emails"


= render "/layouts/paginator", data: @users

= render "admin/admin_link"
