%h1 Users

= render "/layouts/paginator", data: @users

%table.product-table
  %thead
    %tr
      %th Bio
      %th Activity

  %tbody
    - @users.each do |user|
      %tr
        // Bio details
        %td
          %p
            Username:
            = link_to (user.username || "INVITED"), user_path( user )
            %span.admin-spacer= "Name: #{user.full_name}"
          %p= "Email: #{user.email}"
          %p
            = "Signed up: #{user.created_at.strftime("%e %b %Y")}"
            %span.admin-spacer= "Last log-in: #{user.last_sign_in_at ? user.last_sign_in_at.strftime("%e %b %Y") : "Never" }"

        // Actions
        %td
          %p= user.player ? "Binarywoods Player" : ""
          %p= user.assistant ? "CRM Assistant" : ""
          %p= user.send_me_emails ? "Send me emails!" : "Do NOT send me emails"
          - if user.can_follow_up_about_product?( @ghostcrime )
            %p= link_to "Ghostcrime follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@ghostcrime.id}", method: :post
          - if user.can_follow_up_about_product?( @snapback1 )
            %p= link_to "Snapback: Fuseki follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@snapback1.id}", method: :post
          - if user.can_follow_up_about_product?( @snapback2 )
            %p= link_to "Snapback: Shimari follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@snapback2.id}", method: :post

= render "/layouts/paginator", data: @users

= render "admin/admin_link"
