%h1 Users

= render "/layouts/paginator", data: @users

%table.product-table
  %thead
    %tr
      %th Bio
      %th Activity

  %tbody
    - @users.each do |user|
      %tr
        // Bio details
        %td{style: "max-width: 75%;"}
          %p
            = link_to (user.username || "INVITED"), user_path( user )
            %span.admin-spacer= "#{user.full_name}"
            %span.admin-spacer= "#{user.email}"
          %p
            = "Signed up: #{user.created_at.strftime("%e %b %Y")}"
            %span.admin-spacer= "Last log-in: #{user.last_sign_in_at ? user.last_sign_in_at.strftime("%e %b %Y") : "Never" }"

        // Actions
        %td
          - if user.account_active?
            -# EMAIL SEND STATUS
            - if user.send_me_emails
              = image_tag "icon-envelope.png", title: "It's OK to send me emails", class: "admin-icon"
            - else
              = image_tag "icon-denied.png", title: "Do NOT send me emails", class: "admin-icon"

            -# BOOKS DOWNLOADED?
            - if user.downloads.size > 0
              = image_tag "icon-book.png", title: "Downloads: \n#{ user.downloads.collect{ |x| [x.release.product.title, x.release.format, x.created_at.strftime("%e %b %Y")].join("--") }.join("\n") }", class: "admin-icon"

            - if user.player
              = image_tag "icon-tree.png", title: "BinaryWoods player", class: "admin-icon"
              - if user.player.finds.size > 0
                = image_tag "icon-sun.png", title: "#{user.player.finds.size} finds", class: "admin-icon"
            - if user.assistant
              = image_tag "ghostcrm-logo.png", title: "Assistant: #{ user.assistant.name }", class: "admin-icon"

            -# BLOCKER
            %a{href: "/users/" + user.id.to_s + "/block", data: {confirm: "Are you sure you wish to BLOCK this terrible user?", method: "post"}}
              = image_tag "icon-rubbish.png", title: "Block this user!", class: "admin-icon right"

            -# NUDGES
            - if user.can_follow_up_about_product?( @ghostcrime )
              %p= link_to "Ghostcrime follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@ghostcrime.id}", method: :post
            - if user.can_follow_up_about_product?( @snapback1 )
              %p= link_to "Snapback: Fuseki follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@snapback1.id}", method: :post
            - if user.can_follow_up_about_product?( @snapback2 )
              %p= link_to "Snapback: Shimari follow-up", follow_up_about_product_user_path( user ) + "?product_id=#{@snapback2.id}", method: :post

          - else
            %p
              %strong User blocked!


= render "/layouts/paginator", data: @users

= render "admin/admin_link"
