%h1.badger-title Badger games

%p Two storms hit the city last week, and those treacherous sidewalks got buried under an impressive amount of snow. Halifax was pretty well shut down for two days.

%p
  I didn't want to go outside this weekend anyway -- plenty to do in here. First things first, I took the opportunity to try out
  = succeed "," do
    = link_to 'Shelter', 'http://www.mightanddelight.com/shelter', target: 'blank'
  a delightful badger family simulator. It's so good, I wish I'd made it. But for my attention, even a game so beautiful and heartbreaking was no match for Jesse, who was clearly in the mood for badger games of his own.

%p I've entertained his amusements from the very beginning: even in our first week together, he pioneered the venerable 'Completely Destroy The Recycling Pile,' which for him, I guess, is a similar experience to bowling. This week he's been way into 'Hide Behind The De-Humidifer.' I still don't know why he finds it so engaging.

%p
  But I couldn't give him my full attention today -- I had other things to do. After coming to terms with the fact that it's 2015, I decided I would finally get into that
  = link_to 'affiliate marketing', 'https://shop.gogameguru.com/go-game-sets/?acc=4e732ced3463d06de0ca9a15b6153677', target: 'blank'
  that everyone's talking about; maybe I could make money while Jesse was sleeping. While my badger gnawed away on the de-humidifier cord, I got out my tablet and fired some links around, making sure to include a call-to-action. This would surely maximize revenue.

%p I soon escalated into banner ads, and, my cabin fever running hot, affiliate widgets.  I was just flirting with the possibility of wholesaling from overseas when boredom struck Jesse, and he came out from behind the boxy appliance with a new game in mind. One that would require my undivided attention.

%p His winter weight made him a formidable wrestling opponent, and though I had tried to clip his claws two Saturdays ago, the attempt had been about as futile as my defensive tactics. So Jesse won wrestling.

%p But that didn't ruin my day.

%p
  My day had already been ruined when I discovered how drastically I've been overpaying for my
  = succeed "." do
    = link_to 'skeleton watch collection', 'http://www.alibaba.com/product-detail/High-quality-transparent-skeleton-watch-automatic_1987828013.html', target: 'blank'
