%h1 Users

%table.product-table
  %thead
    %tr
      %th Username
      %th Name
      %th Email
      %th Signed up
      %th Last sign-in
      %th DF
      %th CRM

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.full_name
        %td= user.email
        %td= user.created_at.strftime("%b %e '%y")
        %td= user.last_sign_in_at.strftime("%b %e '%y")
        %td= user.player ? "X" : ""
        %td= user.assistant ? "X" : ""

%strong Total users: #{@users.count}

= render "admin/admin_link"
