= form_for @paintball do |f|
  - if @paintball.errors.any?
    #error_explanation
      %h2= "#{pluralize(@paintball.errors.count, "error")} prohibited this woods_paintball from being saved:"
      %ul
        - @paintball.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
