= form_for @idea do |f|
  - if @idea.errors.any?
    #error_explanation
      %h2= "#{pluralize(@idea.errors.count, "error")} prohibited this idea from being saved:"
      %ul
        - @idea.errors.full_messages.each do |msg|
          %li= msg

  %table.modest-width.zero-margin
    %tr.field
      %td= f.label :name
      %td= f.text_field :name, required: true

    %tr.field
      %td= f.label "Notes (optional)"
      %td= f.text_area :notes, rows: 16, cols: 37, class: 'no-resize'

    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
