%h1 My obligations

%span
  = link_to 'Add New Obligation', new_crm_obligation_path
  |
  View Closed Obligations

%br
%br

%table.crm-table
  %thead
    %tr
      %th Obligation
      %th To
      %th Due
      %th= Time.now.strftime("%a, %b %e, %Y")

  %tbody
    - @obligations.each do |obligation|
      %tr
        %td= obligation.name
        %td= obligation.contact.full_name
        %td= obligation.personal_time
        %td
          = link_to 'Edit', edit_crm_obligation_path(obligation)
          |
          = link_to 'Destroy', obligation, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to "<< Back to home", crm_path
