%br
%br
%br
%p.embolden.right.grayer.datemargin= "#{date_of( locals[:post][:title] ).strftime("%B %e, %Y")}"
= render "butler/blog/posts/blog_#{ locals[:post][:title] }"
= render "butler/blog/post_footer", locals: { post: locals[:post] }
