.archive-post-link
  %a.no-dec{href: butler_show_post_path + "?post=#{ locals[:post][:title] }"}
    %span.whitener= "#{date_of( locals[:post][:title] )}"
    %span= "#{ locals[:post][:full_title] }"
