#super-wrapper
  #store-wrapper.panel
    = render 'store/storefront'

  #store-col2
    //#bookdeal-banner= render 'store/book_deal'  # fuck the book deal
    #membership-banner= render 'store/memberships_banner'
    #newsletter-wrapper.panel= render 'store/leadbox'
    #ghostcrm-banner= render 'store/ghostcrm_banner'
    = render 'store/popularity', locals: {disambiguation: true}
    = render 'store/melon_machine'
    #blog-wrapper.panel= render 'store/blog_sample'
    = render 'store/melon_machine_2'
    #about-wrapper.panel= render 'store/about'
