%h1.center Lifetime Memberships

.center
  = image_tag "mystery-book.png", id: "membership-button", class: 'membership-books'

%p Purchasing a lifetime eBook membership is the ultimate gesture of author support.

%hr

%p
  For
  = succeed "," do
    %strong $20
  you'll get:

%ul
  %li
    %p
      Personal access to
      %strong all digital releases, for life

  %li
    %p
      Notifications when
      %strong new books
      are available for download

%hr

// GO TO CART & ADD THE PRODUCT
- if current_user
  .center
    %a{href: cart_path + "?membership=lifetime", alt: "Add Membership To Cart"}
      = image_tag "membership-to-cart.png", class: 'swell membership-add-to-cart'
- else
  .center
    %p
      = link_to 'Log in', main_app.user_session_path
      or
      = link_to 'Sign up',  main_app.new_user_registration_path
      for a free account first.

%br

.center
  = link_to "Back to store", store_path
