#sb-header
  .left-header{style: "display: inline-block;"}

    #snapback-logo-wrapper

      - if action_name == 'fuseki'
        %a{ href: root_path }= image_tag( "felix-circle.png", alt: "Felix of Snapback", class: "header-image" )
      - else
        %a{ href: root_path }= image_tag( "lindsay-circle.png", alt: "Lindsay of Snapback", class: "header-image" )

      .header-words.ghost-align
        = image_tag 'snapback-title-word.png', class: "snapback-title-image"
        - if action_name == 'fuseki'
          .sb-subtitle{style: 'margin-left: 10px;'}= image_tag "snapback-volume-one-text-white.png", width: '300px'
        - else
          .sb-subtitle{style: 'margin-left: 10px;'}= image_tag "snapback-volume-two-text-white.png", width: '300px'

  = render "layouts/userbar"
