= render "store/fuseki_book"

.book-desc
  %p.product-text Studying the ancient game of Go doesn't make Felix the most popular guy at his school, but when an old friend from the past comes into town with fantastical stories of a secret Go academy, Felix and his classmates are swept away on an international adventure. However, it's more dangerous than they bargained for …

  %p.product-text
    The first novella in the Snapback series.

  %p.product-text
    Illustrated by
    = succeed "." do
      = link_to "Dawn Davis", "http://www.playerprophet.com"
    63 pages.

= render "store/store_product", { product: @sb_v1_product }
= render "store/cartwidget"


%h2.promo-header Followed by:
%a{href: snapback_shimari_path}
  = image_tag "shimari-icon.png"
  %h2= "Volume 2: Shimari >>"

%br
%br
%br
= render "store/footer"
