= form_for @storytree do |f|
  - if @storytree.errors.any?
    #error_explanation
      %h2= "#{pluralize(@storytree.errors.count, "error")} prohibited this woods_storytree from being saved:"
      %ul
        - @storytree.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
