#node-editor
  = link_to '<< Story manager', manage_woods_story_path(@story)
  %br

  %label#node-index-label
  %input#node-name-box.woods-text.savetrigger{type: 'textbox', size: 30, onchange: "touchNode();"}

  %textarea#node-content-box.no-resize.woods-text.savetrigger{rows: 20, cols: 45, onchange: "touchNode();"}

  %input#left-text-box.woods-text.savetrigger{type: 'textbox', size: 22, onchange: "touchNode();"}
  %input#right-text-box.woods-text.savetrigger{type: 'textbox', size: 22, onchange: "touchNode();"}

  #moverule-box
    %label Move rule:
    %select#moverule-select{onchange: "touchNode();"}
      - Woods::Node::MOVERULES.each do |moverule|
        %option.moverule-option{ value: moverule[0] }= moverule[1]

  #paintball-box
    %input#palette-checkbox{type: 'checkbox', onclick: "paletteCheck();"} Inherit palette from parent
    #palette-chooser
      %label Palette:
      %select#paintball-select{onchange: "touchNode();"}
        - @palettes.each do |k, v|
          %option.paintball-option{ value: k }= v[:name]

  #treelink-box
    %input#treelink-checkbox{type: 'checkbox', onclick: "treelinkCheck();"} Link to another tree
    #storytree-chooser
      %label Storytree:
      %select#treelink-select{onchange: "touchNode();"}
        - @storytrees.each do |k, v|
          %option.treelink-option{ value: k }= v[:name]

  #possibleitem-box
    %label Itemset:
    %select#possibleitem-select{onchange: "touchNode();"}
      - @itemsets.each do |k, v|
        %option.possibleitem-option{ value: k }= v[:name]

  #box-box
    %label Keyset:
    %select#box-select{onchange: "touchNode();"}
      - @itemsets.each do |k, v|
        %option.possibleitem-option{ value: k }= v[:name]
