// The Main Tree Editor
= render "node_editor"
.right-side-editor
  = render "tree_map"
  = render "waterfall_module"
  = render "tree_controls"
%br

:javascript

  var nodes = #{ raw( @nodes.to_json ) };
  var max_node_index = nodes.length;
  var cursor = 1;

  var nodeModified         = false;
  var paintballModified    = false;
  var treelinkModified     = false;
  var possibleitemModified = false;
  var boxModified          = false;

  var storyId       = #{ @story.id };
  var storytreeId   = #{ @storytree.id };

  var storyName     = #{ raw( @story.name.to_json ) };
  var storytreeName = #{ raw( @storytree.name.to_json ) };

  var treelinks     = #{ raw( @treelinks.to_json ) };
  var boxes         = #{ raw( @boxes.to_json ) };
  var paintballs    = #{ raw( @paintballs.to_json ) };
  var palettes      = #{ raw( @palettes.to_json ) };
  var itemsets      = #{ raw( @itemsets.to_json ) };
  var storytrees    = #{ raw( @storytrees.to_json ) };
  var possibleitems = #{ raw( @possibleitems.to_json ) };

  var waterfall = false;

  $(document).ready(function() {
    refreshAllPanels();
  });
