= render "node_editor"
.right-side-editor
  = render "tree_map"
  = render "tree_controls"

%br





:javascript

  var nodes = #{@nodes.to_json};
  var max_node_index = nodes.length;
  var cursor = 1;
  var nodeModified = false;

  var storyId = #{ @story.id };
  var storytreeId = #{ @storytree.id };

  $(document).ready(function() {
    refreshNodeEditor()
    updateControls();
    updateMap();
  });
