= render "node_editor"
.right-side-editor
  = render "tree_map"
  = render "tree_controls"

%br



:javascript

  var nodes = #{@nodes.to_json};
  var max_node_index = nodes.length;
  var cursor = 1;

  var nodeModified = false;
  var paintballModified = false;
  var treelinkModified = false;
  var possibleitemModified = false;
  var boxModified = false;

  var storyId = #{ @story.id };
  var storytreeId = #{ @storytree.id };

  var treelinks = #{@treelinks.to_json};
  var possibleitems = #{@possibleitems.to_json};
  var boxes = #{@boxes.to_json};
  var paintballs = #{@paintballs.to_json};

  var palettes = #{@palettes.to_json};
  var itemsets = #{@itemsets.to_json};
  var storytrees = #{@storytrees.to_json};

  $(document).ready(function() {
    refreshNodeEditor()
    updateControls();
    updateMap();
  });
