%p
  One October night in 2011, I decided to start a software company. It turned out to be a simple bureaucratic process that involved a few forms and some manageable payments, and a few months later,
  = link_to "Wolf Butler Art & Software",  butler_path
  officially existed. I'd written down that name on the form, because who doesn't want to own an animal company? The concept was that as a "comedy server," its digital infrastructure would automate my income.
  -# %a{name: "footlink1"}
  -# %sup
  -#   %span.diminutive
  -#     %a{href: "#footnote1"} 1

%p
  When I released my first game, a speed-reading text adventure for Android called
  = succeed "," do
    = link_to "Diamond Find", butler_path + "#diamondfind"
  Wolf Butler facilitated a way for me to get paid for the few copies I sold. After that, the other work I produced naturally fell under its imprint. The business continued.

%p But nothing saw big success. I didn't put enough into marketing. Didn't dream big enough. Didn't have a plan to "scale up."

%p
  This became more obvious to me when I started drifting around the edge of the
  = succeed "," do
    = link_to "Halifax startup scene", "https://voltaeffect.com/"
  so for a while I executed off-the-wall viral marketing campaigns. Once, I procured actual silver and dropped it in peoples' mailboxes, including hilarious "clues" leading them back to my website. I ordered faux-gold rings from China, engraved with hashtags promoting my
  = succeed "," do
    = link_to "badger blog", thisbadger_path
  and gave them away, but only one person ever tweeted about them. I bought banner ads, watching intently as the click-throughs increased, and even saw a few sales. But I was getting pretty broke after buying all the metals so I didn't have a very big ad budget.

%p
  Scaling, it seemed, was the goal of every startup I talked to. What would my business look like if I "growth-hacked" it to be an order of magnitude larger? I filled out a
  = link_to "Lean Canvas", "https://en.wikipedia.org/wiki/Business_Model_Canvas"
  worksheet at the behest of a dubious mentor, and it became clear that my business wasn't filling any immediate customer needs. Except the need for comedy books and software, I guess, but it's hard to make an elegant business case for that in 1/9th of a sheet of printer paper.

%p
  But that was fine. I was happy to continue producing comedy, selling only to those who found me at local conventions or met me in person. In fact, I
  %a{href: "/scalequail/show_post?post=have_you_tried_not_scaling_your_business"}
    %span became an expert in NOT scaling.
    = render 'next'

%p But that time is now over. A startup can't exist in the current ecosystem without scaling up, and I plan to finally make this startup do just that.

-# %a{name: "footnote1"}
-# %p.diminutive
-#   %span.bit-larger
-#     %a{href: "#footlink1"} 1
-#   I almost named the company "Datagun Software & Investigations," because I had been looking into Private Investigators' licenses at the time and they seemed pretty easy to get. It's quite fair to say that I lacked solid direction in those days.
