%p
  Last time, I attempted to maximize the value of my existing products by introducing a
  = succeed "," do
    %a{href: "/scalequail/show_post?post=overcharging_for_loyalty"} lifetime membership
  but so far I haven't seen an uptick in revenue!

%p Could it be because I haven't told anyone about it on social media? Or, for that matter, about the existence of ScaleQuail?

%p It may be my biggest failing as an entrepreneur that I just make things and don't tell anyone. But today I'm going to explore why, and either find convenient psychological work-arounds, or consciously eradicate those aspects of my personality.

%p
  If you've've never had to do
  = succeed "," do
    %em that
  you may not be ready for the world of business.

/// CONFIDENCE IN ITS GOODNESS
%p
  One of the reasons I rarely make noise about my work is because I'm not confident it's good. Obviously, confidence is a big part of entrepreneurial success, so I either need to remove the psychological need to be fully confident in something I'm releasing, or improve the product to the degree that it's
  %em undeniably
  good.

%p
  But that's impossible, so realistically, I just have to put it out there and deal with it. The worst part, for me, is the span of time after the post. Will people "like" it? Will they be completely indifferent? The silence of my notifications is unbearable. And because I produced the work myself, the reaction to the work is a reaction to me. The feeling can cut to the bone.

%p
  Strategic de-personalization is a technique I've applied before, but I can't recommend it. Blocking out memories and emotions temporarily just so I can promote my books as if they're somebody else's is a slippery slope. We've all known business leaders who've chosen this route, and their cold eyes stay with us long after the meeting is over.

%p
  A healthier work-around is to have an automated service make posts without my knowledge. With a pile of content in the hopper, and a system that publishes at random times throughout the day, I can get my information out there without worrying about how I feel about it — or, at least, worrying about it constantly at a low enough level that I eventually tune it out.

/// HOOTSUITE AND INFLUENCING
%p
  Of course there's software that does this.
  = link_to "HootSuite", "https://hootsuite.com", target: 'blank'
  is bird-driven, like ScaleQuail, so it's the natural choice. Signed up for a 30-day trial and I'm off and running.

.center
  = image_tag "scalequail/hootsuite.png", class: "large-quailpost-image", alt: "My HootSuite dashboard"
  %p.caption
    Everything that's relevant to me, in one place.

%p
  Alright... wow. This is what it must feel like to be an Influencer! Aw, it tells me how to put tracking links into my posts? Nice. And that dashboard. I can target people in specific groups by watching hashtags. This is great. I hope it filters out reaction GIFs.

%p
  Now that I can see Twitter from the Content Producer point-of-view, I have all the tools I need to do a professional social media blitz. I may not even need to de-personalize as I drive up my follower count with measured, consumable content.

%p
  There's really no excuse for me not to blast you all on Twitter now — unless, of course, I forget about it.

/// QAWP WHEEL

%p
  %em Forget
  might not be the exact word, but for days at a time I might dive into some new project, or have to catch up on six months of backlogged accounting. It's happened before, and not only for Twitter. Hell, I keep forgetting about my PO box, and I almost never think about my
  = link_to "Goodreads", "https://www.goodreads.com/christiandewolf"
  account.

.center
  = image_tag "scalequail/goodreads-fail.png", class: "quailpost-image", alt: "A failure at Goodreads"
  %p.caption
    To be fair, I also haven't
    %em failed
    a challenge yet.

%p
  This is why I need a general business dashboard, something to keep every active tendril top-of-mind. I would rather do anything but advertise, and there's plenty else to keep me occupied, but if I've got a visualization of all possible business activities, I can see what I'm neglecting, and spread myself out more evenly.

.center
  = image_tag "scalequail/qawp-quail.png", class: "small-quailpost-image image-wrap", alt: "The Scaled Quail saying 'QAWP!'"

%p
  My business tasks generally fall into these categories:

  %ul
    %li
      Building more ways for the online store to bring in money, AKA
      = succeed "\"" do
        = precede "\"" do
          %strong Quickening
      commerce
    %li
      %strong Advertising
    %li
      %strong Wrangling
      the admin
    %li
      %strong Producing
      content

%p
  To balance these four needs, I'll create a QAWP Wheel using an old LP:

.center
  = image_tag "scalequail/qawp-basic.jpg", class: "large-quailpost-image", alt: "The basic form of a QAWP Wheel"
  %p.caption
    The basic form of a QAWP Wheel. Sincere apologies to Tubular Bells.

%p
  From here, I use a labeler to apply my tasks in the appropriate areas, then pin the wheel in my work area where it can freely spin.

%p
  If you're making one of these for your own business, make sure you put a ScaleQuail sticker in the middle so people know you're serious.
  = link_to "Order a book", ghostcrime_path
  and I'll tuck one inside.
  %strong Please. Please order books.

.center
  = image_tag "scalequail/qawp-active.jpg", class: "large-quailpost-image", alt: "An active QAWP Wheel"
  %p.caption
    My QAWP Wheel in action. It could also be laid flat if you like the DJ aesthetic.

%p
  Now, when I'm in advertising mode, I can fill my Scheduled Tweets queue full of great content and then safely forget about it for a few days. And maybe I'll finally connect with someone on Goodreads.

%p
  With a reliable and psychologically manageable way to push my content to people, I should hopefully see that "bump" in revenue I've heard so many startup founders talk about. But if I want to maximize it, I've got one more marketing scale I want to put in place that'll make my efforts at least
  %a.coming-soon.quailglow{onclick: "comingSoon( $(this) );"}
    %span five times more effective.
    = render 'next'
