%h2.blog-title Obligatory 2016 Listicle

%p Time to break down another year into an easily-digestable list of positive characteristics. Good for me, anyway:


%h3.purpler 10. Got a new cat

%p
  We adopted a second cat last winter, this one orange, and even though he steals bread out of the toaster and bites the doorframes, he's a great little animal. There is much
  = link_to "photography", "https://twitter.com/dewolfchristian/status/807648591246282752", target: 'blank'
  of him and the more annoying piebald cat on my Twitter.


%h3.purpler 9. State-of-the-art phone

%p After ignoring peoples' conversations about data plans for almost a decade, I finally found myself in a situation where some knowledge on the subject would have been useful. Luckily, the kiosk reps were more than helpful, and after playing them off each other for my own amusement, I now have a sleek new phone that tells me more conveniently when the next bus isn't coming.


%h3.purpler 8. The Long Dark

%p
  GOD
  = link_to "this game", "http://hinterlandgames.com/", target: "blank"
  is good. Once past the learning curve, it's a perfect balance of chilled-out winter exploration and super-tense making-sure-there-aren't-wolves paranoia.



%h3.purpler 7. Bouldering
%p A sport I can do in all seasons, bouldering is as whole-body strenuous as it is fun. The community at the gym is friendly and helpful, and my unnaturally long arms and light frame allow me to succeed without necessarily being skilled!


%h3.purpler 6. Guest treatment at Hal-Con

%p
  Ah yes, this year the local sci-fi convention
  = link_to 'Hal-Con', 'http://www.hal-con.ca', target: 'blank'
  invited me as a Local Author Guest, as I am local and published
  = succeed "." do
    = link_to "a couple of books", root_path
  I got car service, a PA, green room access, and all sorts of opportunities to meet actual celebrities.

%p
  It was an exhausting three days, as always, but I sold a bunch of books, saw friends, and met new and old fans. And someone showed up with a
  = link_to "cosplay", "https://twitter.com/dewolfchristian/status/794625291201249281", target: "blank"
  of one of my characters!

%p Though I did have to admit to TV's Aaron Ashmore that I don't watch TV. That was kind of embarrassing.



%h3.purpler 5. Someone reviewed my shit

%p
  I was validated as an 'author' when one of my unsuspecting Hal-Con customers decided to review Snapback for local alt-weekly
  = succeed "." do
    = link_to "The Coast", "http://www.thecoast.ca", target: 'blank'
  Luckily he did not trash it. Might have had to shut down the company.


%h3.purpler 4. Two kitties sitting on me at once

%p The orange cat I mentioned earlier sometimes teams up with the annoying piebald one to be ultra cute. Right now they're sitting on my lap, between me and the laptop, just licking each other all over the face. I'm pretty pleased about this, as I had specifically requested that I wanted this to happen on the adoption form.



%h3.purpler 3. Hella good Ruby on Rails jobs

%p My first programming job was good, compared to non-coding jobs, but it was, retrospectively, at a terrible company. After I left early this year, I got a much better job at a small crowdfunding agency, and when that contract ended, I had a few weeks to relax before starting at this new place. I'm using Ruby every day and the benefits are excellent.



%h3.purpler 2. That thing I can't tell you about

%p
  Look, I can't say a lot about this, but
  = succeed "," do
    %em something good happened
  and for one reason or another, it can't be printed here. I apologize for that -- this company prides itself on its transparency. But trust me: it was worthy of spot #2. Which places it right above...



%h3.purpler 1. This new milk frother

%p Working at the 'Bucks in high school got me the taste for lattes, and a stovetop espresso machine has been ever-present in my kitchen since. Frothed milk, however, has always been the challenge. Those Bodum hand-pump frothers never seemed to hold enough, and the wand-style spinny ones were terrible. Plus, microwaving the milk and skimming off the fat was always annoying, not to mention washing all the damn dishes.

%p As such, I've let my morning coffees get pretty sad over the last few years, often doing little more than adding a splash of cold milk to the espresso before I slam it back.

%p But my girlfriend noticed this severe life decifiency and got me an automatic frother appliance. I put milk in the jug, press a button, and it becomes frothed to my desired temperature. And the jug rinses out in seconds! My lattes are so good now, and it appears I can also make hot chocolates.

%br
%br

%p So, I'm sorry this ended up to be more of a "Best things I can remember from the last 3 days", but 2016 was long, and I didn't keep detailed notes. What, did you want an affiliate link for the milk frother? Fuck you.
