= form_for @scorecard do |f|
  - if @scorecard.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scorecard.errors.count, "error")} prohibited this woods_scorecard from being saved:"
      %ul
        - @scorecard.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
