= form_for @story do |f|
  - if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this Story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg

  %table.modest-width
    %tr.field
      %td= f.label :name
      %td= f.text_field :name, required: true

    %tr.field
      %td= f.label "Store link text"
      %td= f.text_field :store_link_text

    %tr.field
      %td= f.label "Description"
      %td= f.text_area :description, rows: 8, cols: 37, class: "no-resize"

    %tr.field
      %td= f.label "Sync token"
      %td= f.text_field :sync_token

    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
