= form_for @story do |f|
  - if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this woods_story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
