%h1 Listing All Stories

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Total plays
      %th Published
      %th Trees
      %th Nodes

  %tbody
    - @stories.each do |woods_story|
      %tr
        %td= link_to woods_story.name, woods_story
        %td= woods_story.player.username
        %td= woods_story.total_plays
        %td= woods_story.published
        %td= woods_story.storytrees.count
        %td
          = woods_story.nodes.count

%br

= link_to 'New Story', new_woods_story_path

= render "admin_link"
