%table
  %tr
    %td{style: "vertical-align: top;"}
      %h1= @story.name
      %table.woods-table{style: "width: 66%;"}
        %tr
          %th Tree name
          %th Size
          %th
        - @storytrees.each do |st|
          %tr
            %td= link_to st.name, woods_story_storytree_path(@story, st)
            %td= st.max_level
            %td= link_to "Stats", stats_woods_story_storytree_path(@story, st)

      %br
      .woods-box
        = link_to "Items/itemsets", woods_story_itemsets_path(@story)
        %br
        %br
        = link_to "Manage Palettes", woods_story_palettes_path(@story)
        %br
        %br
        = link_to "Edit story header info", edit_woods_story_path(@story)
        %br
        %br
        = link_to "Export story as JSON", export_woods_story_path(@story)


    %td{style: "vertical-align: top;"}
      .woods-box
        = render "new_storytree_form"

      %br

      #story-stats-div
        %h2 Stats
        - if @lefts || @rights
          %table.woods-table
            %tr
              %td Lefts
              %td Rights
            %tr
              %td= @lefts
              %td= @rights
        - else
          %p No plays yet!

%br
%br
= link_to "Back to #{@story.name} frontpage", @story
