%table{style: "width: 70%;"}
  %tr
    %td
      %h1= @story.name
      %table.woods-table
        %tr
          %th Tree name
          %th Size
        - @storytrees.each do |st|
          %tr
            %td= link_to st.name, woods_story_storytree_path(@story, st)
            %td= st.max_level

      %br
      = link_to "Items", woods_story_itemsets_path(@story)
      |
      = link_to "Palettes", woods_story_palettes_path(@story)
    %td
      #story-stats-div
        %h2 Stats
        %table.woods-table
          %tr
            %td Lefts
            %td Rights
          %tr
            %td= @lefts
            %td= @rights
%br
%br
= link_to 'Back to story', @story
