#woods-anchor
#statspanel.zero-margin.center
  %span#score-span= "Score: #{current_player.total_score( @story.id )}"
  %span
    %button#gallery-button.minory-button{class: "#{current_player.finds.where(story_id: @story.id).size > 0 ? '' : 'hidden'}", onclick: "showItemViewer();"} View gallery
  %span
    - if current_user
      %button#go-to-store-button.minory-button.hidden{onclick: "goToStore( '#{ @story.slug }' );"}= @story.store_link_text
    - else
      %button#go-to-store-button.minory-button.hidden{onclick: "goToSignUp();"}= "Save my progress!"

#imagepanel.zero-margin.center.noselect
  = image_tag("#{@story.pic_name}/title.png", class: "df-image")

#nodepanel.zero-margin.noselect
  #story-pane.pane.glass
    %p= @node['node_text'].gsub("\n",'')
  #choice-pane.pane.center
    %button#left-button.binary-button.hidden{onclick: "move(" + @story.id.to_s + ", 'L');"}
      = @node['left_text']
    %button#right-button.binary-button.hidden{onclick: "move(" + @story.id.to_s + ", 'R');"}
      = @node['right_text']
    %button#big-button.binary-button{onclick: "move(" + @story.id.to_s + ", 'C');"}
      Continue

#findpanel.zero-margin.hidden.noselect
  #item-desc.pane.glass
  #item-controls.pane.center{style: "padding-bottom: 0;"}
    %button#prev-item-button.binary-button{onclick: "prevItem();"} Previous
    %button#next-item-button.binary-button{onclick: "nextItem();"} Next
  #item-continue.pane.center
    %button#item-continue-button.binary-button{onclick: "hideItemViewer();"} Keep playing!

#woods-spacer

:javascript
  // load the intro node into the JS + set up item gallery
  var current_node = #{ raw( @node.to_json)  };
  var item_gallery = #{ raw( @items.to_json) };
  var item_index = 0;
  var pop_item = false;
  var storyname = '#{@story.pic_name}';

  scrollToAnchor();

