#statspanel.zero-margin.center
  %span= "Score: #{current_player.total_score}"
  - if current_player.finds.size > 0
    %span
      %button#gallery-button.minory-button{onclick: "showItemViewer();"} View gallery

#imagepanel.zero-margin.center
  = image_tag("#{@story.pic_name}/title.png", class: "rounded")

#nodepanel.half-width.zero-margin
  #story-pane.pane.glass
    = @node['node_text']
  #choice-pane.pane.center
    %button#left-button.binary-button.hidden{onclick: "move(" + @story.id.to_s + ", 'L');"}
      = @node['left_text']
    %button#right-button.binary-button.hidden{onclick: "move(" + @story.id.to_s + ", 'R');"}
      = @node['right_text']
    %button#big-button.binary-button{onclick: "move(" + @story.id.to_s + ", 'C');"}
      Continue

#findpanel.half-width.zero-margin.hidden
  #item-desc.pane.glass
  #item-controls.pane.center
    %button#prev-item-button.binary-button{onclick: "prevItem();"} Previous
    %button#next-item-button.binary-button{onclick: "nextItem();"} Next
  #item-continue.pane.center{style: "padding-top: 0;"}
    %button#item-continue-button.binary-button{onclick: "hideItemViewer();"} Continue

:javascript
  // load the intro node into the JS + set up item gallery
  var current_node = #{@node.to_json};
  var item_gallery = #{@items};
  var item_index = 0;
  var pop_item = false;
  var storyname = '#{@story.pic_name}';
