#imagepanel.zero-margin.center
  = image_tag("#{@story.name.downcase.gsub(' ','')}/title.png", class: "rounded")

// STATS ETC

.center
  - if current_user
    = button_to "Play #{@story.name} now!", play_woods_story_path(@story), class: "binary-button", method: :get
  - else
    %h3= "Play #{@story.name} now!"
    = link_to 'Sign in', user_session_path
    or
    = link_to 'Create an account for free!', new_user_registration_path
