%p#notice= notice


%h1= @story.name

= link_to "Play", play_woods_story_path(@story)

- if owns_story?(@story)
  = link_to 'Edit', edit_woods_story_path(@story)
  \|
= link_to 'Back', woods_stories_path
