-# DISLAYING CALICO BRIEF FRONTPAGE

#statspanel.zero-margin.center
  - if current_user && current_user.player
    %span= "Score: #{current_player.total_score(@story.id)}"

#imagepanel.zero-margin.center
  = image_tag("#{@story.pic_name}/title.png", class: "woods-image")

.center

  = render "basic_story_desc"

  -# TODO add cat specific stuff

  #woods-col1
    = render "highscore"
  #woods-col2
    = render "story_stats"

  - if current_user.admin?
    = render "manage_button"
