-# DISLAYING CALICO BRIEF FRONTPAGE

#statspanel.zero-margin.center
  - if current_user && current_user.player
    %span= "Score: #{current_player.total_score(@story.id)}"

#imagepanel.zero-margin.center
  = image_tag("#{@story.pic_name}/title.png", class: "woods-image")

.center

  = render "basic_play_button"

  #woods-story-desc
    %p.calico-desc Calico watched SootCo almost crumble around her when her coworkers took advantage of a crisis. Now, she's out for payback.

    = render "calico_cast"
    = render "gray_callout"

    %p.calico-footnote
      %strong The Calico Brief
      and
      %strong Gray
      are obviously based around my childhood stuffed animals. I don't know why so many of them had bowties, but that's why they work in an office.

  - if current_user && current_user.admin?
    = render "manage_button"
