-# DISLAYING CALICO BRIEF FRONTPAGE

#statspanel.zero-margin.center
  - if current_user && current_user.player
    %span= "Score: #{current_player.total_score(@story.id)}"

#imagepanel.zero-margin.center
  = image_tag("#{@story.pic_name}/title.png", class: "woods-image")

.center

  = render "basic_play_button"

  #woods-story-desc
    %p.calico-desc Calico watched SooCo almost crumble around her when her coworkers took advantage of a crisis. Now, she's out for payback.

    #calico-widgets
    = render "calico_cast"
    = render "gray_callout"

  - if current_user.admin?
    = render "manage_button"
