%h1 GO IS THE BEST GAME IN THE WORLD

%h4 did you know that

= image_tag 'go-bowls.jpg', class: 'go-image'

%h1 IT IS THE TRUTH

%h3 THERE IS NO BETTER GAME

%p However just the other day I was chatting with somebody

%h2 THEY SAID CHESS WAS BETTER

%h3 well

%h5 I made sure to refute that point

%h6 and even though they were not convinced by my argument

%h1 IT WAS THE RIGHT THING TO DO

%h5 Let me explain the game.

%h3 So there's this board

%h2 And there's nothing on it to start

%h5 But then players take turns laying down stones

= image_tag 'joseki.jpg', class: 'go-image'

%h3 Nothing too exciting yet

%h5 BUT JUST WAIT

%h3 IT GETS VERY EXCITING

%p trust me on this

%h1 PLAY SOME GO

%h4
  Here's the
  = link_to "WIKIPEDIA ARTICLE", "https://en.wikipedia.org/wiki/Go_(game)"
  about it

%h3
  This is a
  = link_to "FUN INTERACTIVE TUTORIAL", "http://playgo.to/iwtg/en/"

%h2
  Or
  = link_to "PLAY ONLINE WITH PEOPLE", "http://www.gokgs.com"

%br
