%p#notice= notice

%p
  %b Product:
  = @release.product
%p
  %b Type:
  = @release.type
%p
  %b Release date:
  = @release.release_date
%p
  %b Size:
  = @release.size
%p
  %b Version:
  = @release.version

= link_to 'Edit', edit_release_path(@release)
\|
= link_to 'Back', releases_path
