%h1 Logs

= render "/layouts/paginator", data: @logs

%table.product-table
  %thead
    %tr
      %th Date/Time
      %th Location
      %th User
      %th Description

  %tbody
    - @logs.each do |log|
      %tr
        %td= log.created_at.strftime("%b %e, %Y  %I:%M %p")
        %td= log.location
        %td= log.user ? log.user.username : "n/a"
        %td= log.description

= render "/layouts/paginator", data: @logs

= render "admin/admin_link"
