%h1 Listing Products

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Short desc
      %th Long desc
      %th Price
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.author
        %td= product.short_desc
        %td= product.long_desc
        %td= product.price
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Product', new_product_path
%br
= link_to 'Back', admin_path