%h1 Products

%table.product-table
  %thead
    %tr
      %th Title
      %th Price
      %th Releases
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title, edit_product_path(product)
        %td= number_to_currency( product.price, precision: 2) || 0
        %td
          - product.releases.each do |release|
            = release.format
        %td= link_to 'Manage Releases', product_releases_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

= link_to '+ Add Product', new_product_path

= render "admin/admin_link"
