%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Author:
  = @product.author
%p
  %b Short desc:
  = @product.short_desc
%p
  %b Long desc:
  = @product.long_desc
%p
  %b Price:
  = @product.price

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
