= form_for @meeting do |f|
  - if @meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg

  %table.sizeable-width.zero-margin
    %tr.field
      %td= f.label "Summary"
      %td= f.text_field :name, required: true

    %tr.field
      %td= f.label "Contact"
      %td= f.select :contact_id, options_from_collection_for_select( @contacts, :id, :full_name, @meeting.contact_id || params[:contact_id]), class: ""

    %tr.field
      %td= f.label "Date"
      %td= f.date_field :date_time

    %tr.field
      %td= f.label :time
      %td= f.time_field :time

    %tr.field
      %td= f.label :location
      %td= f.text_field :location, required: true

    %tr.field
      %td= f.label "Agenda (optional)"
      %td= f.text_area :agenda, rows: 8, cols: 37, class: "no-resize"

    %tr.field
      %td= f.label "Notes (optional)"
      %td= f.text_area :notes, rows: 8, cols: 37, class: 'no-resize'

    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
