= form_for @meeting do |f|
  - if @meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg

  %table.modest-width
    %tr.field
      %td= f.label :name
      %td= f.text_field :name, required: true
    %tr.field
      %td= f.label :date_time
      %td= f.date_field :date_time
    %tr.field
      %td= f.label "Contact"
      %td= f.select :contact_id, options_from_collection_for_select( @contacts, :id, :full_name, @meeting.contact_id), class: ""

    %tr.actions
      %td
      %td= f.submit 'Save', class: 'store-button'
