%h1 My meetings

- if @contacts.size > 0
  %span
    = link_to 'Add new meeting', new_crm_meeting_path
    |
    View closed meetings
- else
  %span
    First
    = link_to "add some contacts", crm_contacts_path
    with whom you will meet!

%br

- if @meetings.size > 0
  %br

  %table.crm-table
    %thead
      %tr
        %th Meeting
        %th With
        %th When
        %th= Time.now.strftime("%a, %b %e, %Y")

    %tbody
      - @meetings.each do |meeting|
        %tr
          %td= meeting.name
          %td= meeting.contact.full_name
          %td= meeting.personal_time
          %td
            = link_to 'Edit', edit_crm_meeting_path(meeting)
            |
            = link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to "<< Back to home", crm_path
