%h1 My meetings

- if @contacts.size > 0
  %span
    = link_to 'Add new meeting', new_crm_meeting_path
    - if current_assistant.has_closed_meetings?
      路
      = link_to 'View Past Meetings', past_crm_meetings_path, class: 'closed-color'
- else
  %span
    First
    = link_to "add some contacts", new_crm_contact_path
    with whom you will meet!

%br

- if @meetings.size > 0
  %br

  %table.crm-table.meeting-table
    %thead
      %tr
        %th Meeting
        %th With
        %th When
        %th Where
        %th

    %tbody
      - @meetings.each do |meeting|
        %tr
          %td= meeting.name
          %td= meeting.contact.full_name
          %td= relative_time( meeting.date_time, true )
          %td= meeting.location
          %td
            = link_to 'Complete', complete_crm_meeting_path( meeting ), method: :post
            路
            = link_to 'Bypass', bypass_crm_meeting_path( meeting ), method: :post
            路
            = link_to 'Edit', edit_crm_meeting_path(meeting)
            - if current_user.admin?
              路
              = link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }
- else

  %p
    Before you add any meetings, make sure your time zone is correct in your
    = succeed "." do
      = link_to "Settings", settings_crm_assistants_path

%br
= link_to "<< Back to home", crm_path
