#business-window

  %p.diminutive.artifika{style: 'color: black; text-align: center !important'}
    %strong Digital Popularity Indexes

  .business-products-wrapper
    - @all_products.each do |product|
      .business-product
        = image_tag( "#{product.small_image}" , class: "business-window-image swell")
        %p.order-count.left.artifika= "#{product.order_count}"
        %br

    // DF stats
    .business-product
      = image_tag( "diamondfind-icon.png" , class: "business-window-image swell")
      %p.order-count.left.artifika= "#{ Woods::Player.all.count }"
      %br
%br
%br
