-# The tab of the Giftpack in the cart
- is_hidden = ( @cart == {} || !@cart[:giftpacks].has_key?(prod.id) ) ? "display: none;" : "display: inline-block;"

%span{ class: "cartwidget_giftpack_item_#{prod.id}", style: "#{is_hidden}"}
  .center.gift-overlay-container
    = image_tag( "#{prod.small_image}" , class: "cartwidget-image gift-overlay")
    .gift-overlay-text
      %p x5
  .cartwidget-prod-details.center
    %span{ class: "cartwidget_giftpack_price_#{prod.id}", style: "color: white !important;" }= number_to_currency( prod.giftpack_price, precision: 2 )
    %button.store-button.diminutive.remove-button{ class: "cartwidget_remove_giftpack_#{prod.id}", onclick:"removeFromCart(#{prod.id}, true)"} X
