- is_hidden = !@cart.has_key?(prod.id) ? "display: none;" : "display: inline-block;"

%span{ id: "dealzone_item_#{prod.id}", style: "#{is_hidden}"}
  .center= image_tag( "#{prod.small_image}" , class: "dealzone-image")
  .dealzone-prod-details.center
    .embolden{ id: "dealzone_title_#{prod.id}" }= prod.title
    %span{ id: "dealzone_price_#{prod.id}" }= number_to_currency( prod.price, precision: 2 )
    %button.store-button.diminutive.remove-button{ id: "dealzone_remove_#{prod.id}", onclick:"removeFromCart(#{prod.id})"} X
