- prods = [ @owned_products + @available_products ].flatten

- if prods.size > 0
  - prods = prods.sort{|a,b| a.rank <=> b.rank }
  - prods.each_with_index do |prod, i|
    - if i > 0
      %hr
    = render 'store/store_preview', { product: prod }

%hr
= render 'store/diamond_machine'
%hr
= render 'store/badger_machine'
%hr
= render 'store/wolfbutler'

%br
%p.diminutive.center All prices expressed in CAD. Prices do not include tax or shipping. All downloads are DRM-free.

:javascript

  $(document).ready(function() {
    if( "#{ @gc_crm }" === "add-to-cart") {
      addToCart("#{ @gc_product.id }");
    }
  });
