%h1 Read

- prods = [ @owned_products + @available_products ].flatten

- if prods.size > 0
  - prods.each_with_index do |prod, i|
    - if i > 0
      %hr
    = render 'store_product', { product: prod }

%hr
= render 'diamond_machine'
//%hr
//= render 'wolfbutler'

%br
%p.diminutive.center All prices expressed in CAD. Prices do not include tax. All downloads are DRM-free.

:javascript

  $(document).ready(function() {
    console.log("#{ @gc_crm }");
    if( "#{ @gc_crm }" === "add-to-cart") {
      addToCart("#{ @gc_product.id }");
    }
  });
