#popularity-index

  .popular-products-wrapper
    // GC and Snapback
    - @all_products.each do |product|
      .popular-product
        %a{href: "/#{ product.slug }"}
          = image_tag( "#{product.popularity_image}" , class: "popularity-index-image swell skoosh")
        %p.order-count.left.artifika= "#{ product.order_count + product.physical_sales }"
        %br

    // DF stats
    .popular-product
      %a{href: "/diamondfind"}
        = image_tag( "diamondfind-icon.png" , class: "popularity-index-image swell skoosh")
      %p.order-count.left.artifika= "#{ Woods::Player.count }"
      %br

    // ghostCRM
    .popular-product
      %a{href: "/crm"}
        = image_tag( "ghostcrm-logo.png" , class: "popularity-index-image swell skoosh")
      %p.order-count.left.artifika= "#{ Crm::Assistant.count }"
      %br

    // badger blog
    .popular-product
      %a{href: "/thisbadger"}
        = image_tag( "badger-circle.png" , class: "popularity-index-image swell skoosh")
      %p.order-count.left.artifika= "--"  # temporarily no way to measure popularity
      %br


  %p.diminutive.artifika{style: 'color: black; text-align: center !important'}
    %strong Digital Popularity Indexes (
    %strong
      %a{href: badstartup_path} ?
    %strong )
%br
