#popularity-index

  %p.diminutive.artifika{style: 'color: black; text-align: center !important'}
    %strong Digital Popularity Indexes

  .popular-products-wrapper
    - @all_products.each do |product|
      .popular-product
        %a{href: "/#{ product.slug }"}
          = image_tag( "#{product.popularity_image}" , class: "popularity-index-image swell skoosh")
        %p.order-count.left.artifika= "#{product.order_count}"
        %br

    // DF stats
    .popular-product
      %a{href: "/diamondfind"}
        = image_tag( "diamondfind-icon.png" , class: "popularity-index-image swell skoosh")
      %p.order-count.left.artifika= "#{ Woods::Player.all.count }"
      %br
%br
%br
