.devrama-book.snapback-book
  %ul.front
    %li.front
      = image_tag "shimari-for-3d.png"
    %li.back
      / You can decorate the back of the front cover page.
  %ul.page
    %li
      / Blank page.
    %li
      / Also blank
    %li
      %br
      %br
      %br
      %br
      %p.book-title=  image_tag "snapback-christian-dewolf-text.png", width: '230px'
      %h1.book-title= image_tag "snapback-title-word-black.png",      width: '260px'
      %p.book-title=  image_tag "snapback-volume-two-text.png",       width: '200px'

    %li
      / Also blank
    %li
      %br
      %p.book-para  Felix opened his eyes, realizing with some satisfaction that it was the first time he’d ever woken up on a private jet.
      %p.book-para  “Coffee?” asked Ellison, thrusting a mug in front of his face.
      %p.book-para
        “Ugh,” said Felix, “I
        %span.ital.no-indent just
        woke up.”
      %p.book-para  “Right?” laughed Ellison. “I call it ‘Instant Coffee.’ Used it on an ambassador once.”
      %p.book-para  “And?”
      %p.book-para  “Still didn’t get the contract. Didn’t matter though. Got another one right after that. You want this coffee or not?”
      %p.book-para  Felix accepted the mug. He was never one to turn down coffee —

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para.no-indent during his adolescence in Singapore, he’d developed an affinity for it, spending much of his loose change in the vending machine at the foot of his building.
      %p.book-para  “Wait, did you sit there, watching me sleep, continuously brewing coffee?”
      %p.book-para  “Sure,” said Ellison, “but I got you on the first brew. Your eyelids were twitching, so I knew you’d gone into REM sleep and would stay there, for, what, maybe 35 minutes? Unless we got some turbulence. So I got the French press ready.”
      %p.book-para  Ellison was only a year older than Felix, but there was nothing about him that looked 19. Between his impec-

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para “Tell me what happened that morning you first played Go,” he said.
      %p.book-para “You saw my bio,” said Lindsay.
      %p.book-para
        “Yes, but,” said Ellison, “what
        %span.ital.no-indent actually
        happened?”
      %p.book-para Lindsay remained silent.
      %p.book-para “Suit yourself,” said Ellison, “but your stones will tell me anyway.”
    %li
    %li
      %br
      %p.book-title= image_tag "snapback-board2.jpg"
      %p.book-title Get it now!
