.devrama-book.snapback-book
  %ul.front
    %li.front
      = image_tag "snapback-book.jpg"
    %li.back
      / You can decorate the back of the front cover page.
  %ul.page
    %li
      / Blank page.
    %li
      / Also blank
    %li
      %br
      %br
      %br
      %br
      %p.book-title=  image_tag "snapback-christian-dewolf-text.png", width: '230px'
      %h1.book-title= image_tag "snapback-title-word-black.png",      width: '260px'
      %p.book-title=  image_tag "snapback-volume-one-text.png",       width: '200px'

    %li
      / Also blank
    %li
      %br
      %p.book-para  Felix opened his eyes, realizing with some satisfaction that it was the first time he’d ever woken up on a private jet.
      %p.book-para  “Coffee?” asked Ellison, thrusting a mug in front of his face.
      %p.book-para
        “Ugh,” said Felix, “I
        %span.ital.no-indent just
        woke up.”
      %p.book-para  “Right?” laughed Ellison. “I call it ‘Instant Coffee.’ Used it on an ambassador once.”
      %p.book-para  “And?”
      %p.book-para  “Still didn’t get the contract. Didn’t matter though. Got another one right after that. You want this coffee or not?”
      %p.book-para  Felix accepted the mug. He was never one to turn down coffee — during his adolescence in Singapore,

    %li
      %br
      %p.book-para.no-indent he’d developed an affinity for it, spending much of his loose change in the vending machine at the foot of his building.
      %p.book-para  “Wait, did you sit there, watching me sleep, continuously brewing coffee?”
      %p.book-para  “Sure,” said Ellison, “but I got you on the first brew. Your eyelids were twitching, so I knew you’d gone into REM sleep and would stay there, for, what, maybe 35 minutes? Unless we got some turbulence. So I got the French press ready.”
      %p.book-para  Ellison was only a year older than Felix, but there was nothing about him that looked 19. Between his impeccably tailored suit, sharp features, and the peppering of silver in

    %li
      %br
      %p.book-para.no-indent his black hair, he could easily be mistaken for a boyish 30.
      %p.book-para  Felix looked over at Lindsay; she was still sleeping, sweatshirt hood over her head.
      %p.book-para  “You watching her?” Felix asked.
      %p.book-para  “She’s due in 20 minutes or so,” said Ellison. “Going through her fifth REM cycle. So deep, and so quiet.”
      %p.book-para  Felix glared at him.
      %p.book-para  “How do I sleep, Ellison? You keep notes on that?”
      %p.book-para  Ellison matched his gaze.
      %p.book-para  “You snore. And your REM cycles are longer than most people’s. But you were always a vivid dreamer, weren’t you?”
      %p.book-para  Lindsay stirred, and Ellison poured a second mug.

    %li
      %br
      %p.book-para  “You want to do Instant Coffee on her?” he asked Felix.
      %p.book-para  “No!”
      %p.book-para
        “Fine,” said Ellison, “I’ll do it, then.
        %span.ital.no-indent Jeez.
        It’s such a good move.”
      %p.book-para  “You and your moves. I can’t believe you’re still doing those.”
      %p.book-para  “Moves themselves may get old, Felix, but ‘moves’ as a concept never will. You just make up new ones.”
      %p.book-para  “What are moves?” asked Bollard, yawning.
      %p.book-para  “None of your business, stowaway!” said Ellison.
      %p.book-para  Bollard tried to fix the mass of curly brown hair matted to one side of his head. It did not markedly improve his overall appearance — he glistened with sweat, and wrinkled shirt tails

    %li
      %br
      %p.book-para.no-indent spilled from the bottom of his sweater vest.
      %p.book-para  “What did you mean before,” he asked, “about going to an academy?”
      %p.book-para  “This tournament’s being held at one,” said Ellison, “I told you.”
      %p.book-para  “They wouldn’t do that,” said Bollard. “It’s the biggest Go tournament of the year; they wouldn’t just have it at some school.”
      %p.book-para  “Except they are,” said Ellison. “Next topic.”
      %p.book-para  “But it doesn’t make sense,” said Bollard. “They use convention centres for these things, or hotels. Can I borrow your laptop?”
      %p.book-para
        “Not a chance,” said Ellison. “Now look.
        %span.ital.no-indent Maybe
        I’m mistaken. We’ll find out when we land.”

    %li
      %br
      %p.book-para
        “When
        %span.ital.no-indent do
        we land?” asked Lindsay, awake now. A glint in her eyes warned everyone present that she was not a morning person. She undid her seatbelt and adjusted her pre-ripped jeans.
      %p.book-para  “Couple more hours,” said Ellison, handing her the mug. “Coffee?”
      %p.book-para  “Oh. Thanks.”
      %p.book-para  “Wasn’t instant enough,” Ellison said to Felix.
      %p.book-para  “Or the move is getting old,” said Felix.
      %p.book-para  “Can I have coffee?” asked Bollard.
      %p.book-para
        “No,” said Ellison,
        %span.ital.no-indent “definitely
        not.”
      %p.book-para  Bollard scowled and got up, inadequately stretched his legs, and made his way over to the kitchenette.

    %li
      %br
      %p.book-para  “I said ‘no!’”
      %p.book-para  “If we’re not landing for hours, I need some coffee,” said Bollard.
      %p.book-para  “Let him have coffee, Ellison,” said Felix.
      %p.book-para  “He sneaks onto my plane and I’m supposed to give him all my coffee.”
      %p.book-para
        “Not
        %span.ital.no-indent all
        your coffee, just –”
      %p.book-para  “Fine! Have coffee! You want a hot towelette as well? Maybe some champagne?”
      %p.book-para  “Do you have cream?” asked Bollard.
      %p.book-para  “Felix,” asked Ellison, “would you be terribly upset if I murdered your friend Bollard?”
      %p.book-para  “Calm down, Ellison,” said Felix. “Did you get any sleep?”
      %p.book-para  “Maybe I’d have had that luxury if

    %li
      %br
      %p.book-para.no-indent
        I hadn’t needed to forge legal documents for him
        %span.ital.no-indent by hand.
        These took seven hours!” He withdrew papers from inside his suit jacket.
      %p.book-para  “Let me see!” said Bollard.
      %p.book-para
        “Creating an identity even less interesting than your real one was the most challenging part,” said Ellison, handing the documents to Bollard. “Your name is Seamus now. After the
        %span.ital.no-indent shame
        you must feel for existing.”
      %p.book-para  “Easy,” said Lindsay.
      %p.book-para  “Wow, this is good!” said Bollard, admiring his new passport. “I’ve been to Argentina!”
      %p.book-para  “So, Lindsay,” said Ellison, taking the seat beside her, “we’ve got enough time for a game before we arrive.”
      %p.book-para  “What makes you think I want to


    %li
      %br
      %p.book-para.no-indent play you?” asked Lindsay, pushing back her hood. The messiness of her red hair was stylish in a way that Bollard’s was not.
      %p.book-para  “I think you want to beat me,” said Ellison, “and put me in my place.”
      %p.book-para  Lindsay sipped her coffee.
      %p.book-para  “Why not a game with me?” asked Felix.
      %p.book-para  “Because I’ve played you,” said Ellison.
      %p.book-para  “Not for six years. Come on – for old times’ sake!”
      %p.book-para  “Have I ever been a sentimental person?” asked Ellison. “Maybe it slipped your mind, but your girlfriend became a Go genius overnight.”
      %p.book-para  “It was in the morning,” corrected Lindsay, “and can everyone stop

    %li
      %br
      %p.book-para.no-indent calling me a genius?”
      %p.book-para  “And she’s not my girlfriend,” said Felix.
      %p.book-para  “Whatever,” said Ellison. “I want to see what you’ve got, Lindsay.”
      %p.book-para  “Holy!” exclaimed Bollard, who had just found the champagne cupboard.
      %p.book-para
        “Cream is in the
        %span.ital.no-indent fridge,
        Seamus.”
      %p.book-para  “Okay,” said Lindsay, “one game. But you’re going to want some handicap stones.”
      %p.book-para  “Oh yeah?” said Ellison. “How many, do you think?”
      %p.book-para  “How good is he, Felix?” asked Lindsay.
      %p.book-para  “Don’t know. Last time we played, though, he was better than me.”
      %p.book-para  “Still am,” said Ellison. “Why

    %li
      %br
      %p.book-para.no-indent don’t we play it even, just to see?”
      %p.book-para  “All right,” said Lindsay, and Ellison smiled, producing a faded wooden board from beside his seat.
      %p.book-para  “Get out your tray table,” he said.
      %p.book-para  “Use your own,” she said.
      %p.book-para  “Technically, both are mine, because I own the plane.”
      %p.book-para  Lindsay sighed and clicked hers into place from inside the wide armrest. Ellison laid down the board and pulled two polished bowls from underneath his seat.
      %p.book-para  “That’s the board you had in Singapore!” said Felix. “There’s the stain where I –”
      %p.book-para  “–spilled your strawberry milk on it at the airport. So disgusting.”
      %p.book-para  “You take black,” said Lindsay,

    %li
      %br
      %p.book-para.no-indent taking the bowl of white stones.
      %p.book-para  “Black always wins,” said Ellison, and played his first move.
      %p.book-title= image_tag "snapback-board1.jpg"

    %li
      %br
      %p.book-para
        %span.ital.no-indent Tengen.
      %p.book-para “Still doing that, huh,” said Felix.
      %p.book-para “It’s the best move,” said Ellison. “Whatever size board. Always take the centre. Didn’t you learn anything from me?”
      %p.book-para
        “This game’s been played for over 4000 years,” said Felix, “studied professionally, analyzed mathe- matically – and no one plays
        %span.ital.no-indent tengen
        on the first move. Corners are just better.”
      %p.book-para “In Chess, the best strategy is to control the centre,” offered Bollard.
      %p.book-para “No one plays Chess!” snapped Ellison.
      %p.book-para Lindsay took a sip of coffee and played a loose corner, and Ellison

    %li
      %br
      %p.book-para.no-indent slapped down an immediate approach.
      %p.book-para “Tell me what happened that morning you first played Go,” he said.
      %p.book-para “You saw my bio,” said Lindsay.
      %p.book-para
        “Yes, but,” said Ellison, “what
        %span.ital.no-indent actually
        happened?”
      %p.book-para Lindsay remained silent.
      %p.book-para “Suit yourself,” said Ellison, “but your stones will tell me anyway.”

    %li
      %br
      %p.book-title= image_tag "snapback-board2.jpg"
      %p.book-title Download the eBook below!
