%h1#blog-header Books
- prods = [ @owned_products + @available_products ].flatten
- if prods.size > 0
  - prods = prods.sort{|a,b| a.rank <=> b.rank }
  - prods.each_with_index do |prod, i|
    - if i > 0
      %hr.storefront-ruler
    = render 'store/store_preview', { product: prod }

%br
%h1#blog-header Games
= render 'store/diamond_machine'

%br
%h1#blog-header Blogs
= render 'store/quail_machine'
%hr.storefront-ruler
= render 'store/computer_machine'
%hr.storefront-ruler
= render 'store/badger_machine'

%br
%h1#blog-header Companies
= render 'store/butler_machine'

%br
%p.diminutive.center All eBook purchases from this site are DRM-free.
