%table
  %tr
    %td.small-width.center
      = image_tag( "#{product.image}" )
    %td
      %h2{id:"#{product.id}_title"}= product.title
      %p= product.long_desc
      %table.full-width
        %tr
          %td.small-width
            - if !current_user || !current_user.has_product?(product.id)
              - release_array = []
              - product.releases.each do |release|
                - release_array << release.format
              - release_text = release_array.join(" / ")
              .store-format.embolden #{release_text}
            - else 
              .store-format.embolden Download: 

          %td.small-width
            - if !current_user
              %div{id:"sign_in_#{product.id})"}=button_to 'Start a library', new_user_registration_path, class: 'store-button', method: :get
            - elsif !current_user.has_product?(product.id)
              %button.store-button{id:"add_to_cart_#{product.id}", onclick:"addToCart( #{product.id} )"} Add to basket
            - else
              - product.releases.each do |rel|
                .left= button_to rel.format, { action: 'download', release_id: rel.id }, class: 'store-button'

          - if !current_user || !current_user.has_product?(product.id)
            %td.small-width
              %table
                %tr
                  %td
                    .new-price{id:"#{product.id}_new_price"}
                  %td
                    .store-price{id:"#{product.id}_price"}= number_to_currency( product.price, precision: 2 )
          - else
            %td.small-width