%table
  %tr
    %td.small-width.center
      = image_tag( "#{product.image}" )
    %td
      %h3{id:"#{product.id}_title"}= product.title
      %p= product.short_desc
      - if !current_user
        - # TODO user not logged in.  Display price, formats + sign up button


      - elsif !current_user.has_product?(product.id)
        - # logged-in user has not purchased the product.  Display price, formats + cart button 
        %table.full-width
          %tr
            %td.small-width
              %button.store-button{id:"add_to_cart_#{product.id}", onclick:"addToCart( #{product.id} )"} Add to basket
            %td.small-width
              - release_array = []
              - product.releases.each do |release|
                - release_array << release.format
              - release_text = release_array.join(" / ")
              .store-format #{release_text}
            %td.small-width
              .store-price{id:"#{product.id}_price"}= number_to_currency( product.price, precision: 2 )

      - else
        - # TODO logged-in user has purchased product.  Display download buttons for formats + bonus material

