.desktop-product
  .product-object
    %table
      %tr
        %td.small-width.center
          = image_tag( "#{product.image}", class: "store-image" )
        %td
          = render "store_product_content", { product: product }

.mobile-product
  = image_tag( "#{product.image}", class: "store-image" )

  = render "store_product_content", { product: product }
