-# This is the main store layout for a product.

- if product.coming_soon
  .store-format.embolden Coming soon

- else
  .money-flex
    .digital-widget
      %table
        %tr
          %td{colspan: 3}
            -# display the release format names
            -# display the digital release format names
            - if !current_user || !current_user.has_product?(product.id)
              - release_array = []
              - product.digital_releases.each do |release|
                - release_array << release.format
              - release_text = release_array.join(" / ")
              .store-format.embolden.center #{release_text}
            - else
              .store-format.embolden.center Download:

        %tr
          %td
            %p One for me

          - if !current_user || !current_user.has_product?(product.id)
            %td{style: 'width: 50%;'}
              -# BUTTONS TO ADD TO CART, DOWNLOAD OR SIGN IN
              - if !current_user
                %div{id:"sign_in_#{product.id})"}= button_to 'Start a library', new_user_registration_path, class: 'store-button', method: :get
              - elsif !current_user.has_product?(product.id)
                %button.store-button{class:"add_to_cart_#{product.id}", onclick: "addToCart( #{product.id} )"} Add to cart
            %td
              -# DISPLAY PRICE
              - if product.price > 0
                .new-price{class:"#{product.id}_new_price", style: 'display: inline-block; margin-right: 10px;'}
                .store-price{class:"#{product.id}_price", style: 'display: inline-block;'}= number_to_currency( product.price, precision: 2 )
              - else
                .new-price Free on sign-up!

          - else
            %td
              .center
                - product.digital_releases.each do |rel|
                  .inline= button_to rel.format, { action: 'download', controller: 'dealzone', release_id: rel.id }, class: 'store-button'

        -# GIFT PACK STUFF
        - if product.giftpackable
          %tr
            %td
              Giftable 5-pack
            %td
              -# BUTTON TO ADD GIFTPACK TO CART, OR SIGN IN
              - if !current_user
                %div{id:"sign_in_#{product.id})"}= button_to 'Sign up to send gifts!', new_user_registration_path, class: 'store-button', method: :get
              - else
                %button.store-button{class:"add_giftpack_to_cart_#{product.id}", onclick: "addToCart( #{product.id}, true )"} Add to cart
            %td
              -# DISPLAY GIFTPACK PRICE
              .new-price{class:"#{product.id}_new_giftpack_price", style: 'display: inline-block; margin-right: 10px;'}
              .store-price{class:"#{product.id}_giftpack_price", style: 'display: inline-block;'}= number_to_currency( product.giftpack_price, precision: 2 )

      - if !current_user || !current_user.has_product?(product.id)
        %p.diminutive{style: "color: grey !important;"} Purchase access to all DRM-free formats.
      - else
        %p.diminutive{style: "color: grey !important;"} All downloads are DRM-free.

    - if product.has_physical_release?
      .physical-widget
        %table
          %tr
            %td{colspan: 2}
              %strong Paperback
          %tr
            %td
              %form.center{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
                %input{type: "hidden", name: "cmd", value: "_s-xclick"}
                %input{type: "hidden", name: "hosted_button_id", value: product.physical_code}
                %input.pp-button{type: "image", src: "https://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_107x26.png", border: "0", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}
            %td
              %span= "#{number_to_currency( product.physical_price, precision: 2 )}"

        %p.diminutive{style: "color: grey !important;"} Price does not include tax or shipping.
