%table
  %tr
    %td.small-width.center
      = image_tag( "#{product.image}" )
    %td
      %h2{id:"#{product.id}_title"}= product.title
      - if !current_user || !current_user.has_product?(product.id)
        %p= product.long_desc
        %table.full-width
          %tr
            %td.small-width
              - release_array = []
              - product.releases.each do |release|
                - release_array << release.format
              - release_text = release_array.join(" / ")
              .store-format.embolden #{release_text}
            %td.small-width
              - if !current_user
                %button.store-button{id:"sign_in_#{product.id})"}=link_to 'Start a library', new_user_registration_path()
              - else
                %button.store-button{id:"add_to_cart_#{product.id}", onclick:"addToCart( #{product.id} )"} Add to basket
            %td.small-width
              %table
                %tr
                  %td
                    .new-price{id:"#{product.id}_new_price"}
                  %td
                    .store-price{id:"#{product.id}_price"}= number_to_currency( product.price, precision: 2 )

      - else
        - # TODO logged-in user has purchased product.  Display download buttons for formats + bonus material