-# This is a preview of the product, linking to its dedicated store page

%h2{id:"#{product.id}_title"}= product.title
%p= product.short_desc

%table.full-width{id: "digital_download_#{product.id}"}
  %tr
    - if product.coming_soon
      %td.small-width
        .store-format.embolden Coming soon

    - else
      %td.small-width
        - if !current_user || (current_user && !current_user.has_product?(product.id))
          - release_array = []
          - product.digital_releases.each do |release|
            - release_array << release.format
          - release_array << "Paperback" if product.has_physical_release?
          - release_text = release_array.join(" / ")
          .store-format.embolden #{release_text}
        - elsif current_user.has_product?(product.id)
          .store-format.embolden Download now:

      %td.small-width
        - if !current_user || (current_user && !current_user.has_product?(product.id))
          %div{id:"sign_in_#{product.id})"}=button_to 'Learn more', "/#{product.slug}", class: 'store-button', method: :get
        - elsif current_user.has_product?(product.id)
          - product.digital_releases.each do |rel|
            .left= button_to rel.format, { action: 'download', release_id: rel.id }, class: 'store-button'

  - if @sendables.keys.include?( product.id ) # is somehow determined to be giftable
    %tr
      %td.small-width
        %span.store-format.embolden Gift copies:
        - sendables = @sendables[product.id]
        %span.store-format= "#{sendables.count(nil)} / #{sendables.size} given"
      %td
        - if sendables.count(nil) < sendables.size
          %button.gift-button{type: 'button', class: "send_a_gift_#{product.id}", onclick: "popSendGiftControls( #{product.id} )"} Send a gift

- if sendables && sendables.count(nil) < sendables.size
  %table.full-width
    %tr
      %td.half-width
        .gift-form-wrapper{class: "form_wrap_#{product.id}"}
          = form_tag(give_store_free_gift_path( sendables.compact[0] ), id: "gift_form_#{product.id}", method: :post) do
            %span.store-format.embolden Give to:
            %div
              %div
                %span= text_field_tag :first_name, nil, size: 12, placeholder: "First name", class: "gift-name-input", minlength: 1, required: true
                %span= text_field_tag :last_name, nil, size: 12, placeholder: "Last name", class: "gift-name-input", minlength: 1, required: true
              %span= email_field_tag :email, nil, size: 30, placeholder: "Email address", class: "gift-input", minlength: 5, required: true
              %span
                = submit_tag "Send", class: 'gift-button gift-submit'
          %p.diminutive This will invite the recipient to create an account to accept the gift.
