%h1 Admin

.embolden Maintenance
%ul
  %li= link_to 'Products', products_path
  %li= link_to 'Price Combos', price_combos_path

.embolden Reports
%ul
  %li= link_to 'Orders', orders_path
  %li= link_to 'Purchases', purchases_path
  %li= link_to 'Downloads', downloads_products_path
  %li= link_to 'Users', user_report_path

= link_to 'Home', root_path
