#header
  = render 'layouts/userbar'
  = render 'layouts/headerbar'
  = render 'layouts/navbar'

#content
  .dotbox
    - if @owned_products.size > 0
      #library
        = render 'library'
      #store.hidden
        = render 'store'
    - else
      #library.hidden
        = render 'library'
      #store
        = render 'store'
    #products.hidden
      = render 'products'
    #services.hidden
      = render 'services'