/ TODO eventually move this out to layout once Admin starts using its own
= render 'store/navbar'

#content
  .dotbox
    - if @owned_products.size > 0
      #library
        = render 'library'
      #store.hidden
        = render 'store'
    - else
      #library.hidden
        = render 'library'
      #store
        = render 'store'
    #products.hidden
      = render 'products'
    #about.hidden
      = render 'about'
