#footer-bar.center
  %table
    %tr
      %td
        %h5.menu Wolf Butler Art & Software (c) #{Time.now().year}
  %table
    %tr
      %td.vert-center
        %span.diminutive= link_to "Terms of Use", terms_of_use_policies_path
      %td.vert-center
        %span.diminutive.purpler -
      %td.vert-center
        %span.diminutive= link_to "Privacy Policy", privacy_policies_path
      %td.vert-center
        %span.diminutive.purpler -
      %td.vert-center
        %span.diminutive= link_to "Customer Service Policy", customer_service_policies_path
      %td.vert-center
        %span.diminutive.purpler -
      %td.vert-center
        %span.diminutive= link_to "Refund Policy", refund_policies_path
      %td.vert-center
        %span.diminutive.purpler -
      %td.vert-center
        %a{href: "https://www.paypal.com/ca/webapps/mpp/ua/acceptableuse-full", target: 'blank'}
          %img{src: "https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-small.png"}
      %td.vert-center
        %span.diminutive= link_to "Acceptable Use Policy", "https://www.paypal.com/ca/webapps/mpp/ua/acceptableuse-full", target: 'blank'
