- if current_user
  .right
    Welcome, #{current_user.full_name}!

    %p.diminutive
      - if current_user.admin?
        = link_to "Admin", admin_path
        |
      = link_to 'Sign out', destroy_user_session_path, method: :delete
- else
  .right
    = link_to 'Sign in', user_session_path
    |
    = link_to 'Sign up', new_user_registration_path
