#user-wrapper.glass
  - if current_user
    .center
      .span Welcome, #{current_user.first_name}.

      %p.diminutive.lineheight-spacer
        = link_to "", main_app.cart_path, class: 'cart-link-highlight embolden'
        %span.cart-dot{style: 'display: none;'} ·
        - if current_user.has_crm_access?
          - if controller_path.starts_with?("crm")
            = link_to "Main site", main_app.root_path
          - else
            = link_to "CRM", main_app.crm_path
          ·
        - if current_user.admin?
          = link_to "Admin", main_app.admin_index_path
          ·
        - if current_user.digital_purchases.size > 0
          = link_to "Receipts", main_app.receipts_store_orders_path
          ·
        - if current_player && current_player.scorecards.size > 0 && controller_path.starts_with?("woods")
          = link_to 'Scores', main_app.woods_player_path(current_player)
          ·
        = link_to 'Sign out', main_app.destroy_user_session_path, method: :delete

  - else
    .center
      = link_to 'Log in', main_app.user_session_path
      ·
      = link_to 'Sign up', main_app.new_user_registration_path

      %p.diminutive.lineheight-spacer
        - if controller_path.starts_with?("crm")
          Make a start.
        - elsif controller_path.starts_with?("badger")
          Do you like badgers?
        - elsif controller_path.starts_with?("woods")
          Save your progress.
        - elsif controller_path.starts_with?("go")
          Unlock more Go secrets.
        - elsif controller_path.starts_with?("computers")
          Create a "digital" account.
        - else
          Start a library now.
