!!! 5
%html
  %head
    %title Christian DeWolf - Programming / Creative
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "http://www.christiandewolf.com/assets/ghostcrime-icon.jpg" }
    %meta{ property: "og:title", content: "Christian DeWolf - Programming / Creative" }
    %meta{ property: "og:url", content: "http://www.christiandewolf.com" }
    %meta{ property: "og:description", content: "Web programming, design &amp; custom data solutions for your business." }

    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

  %body.background

    #zone-keeper
      = render "layouts/dealzone"

    #wrapper
      - if notice
        %p.alert.alert-notice
          = notice
      - if alert
        %p.alert.alert-danger
          = alert
      = yield
      = render "layouts/footer"

      = render "layouts/script"

    %h5.right= "v #{app_version}"
