!!! 5
%html
  %head
    %title Christian DeWolf - Coding & Creative
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "http://www.christiandewolf.com/assets/ghostcrime-icon.jpg" }
    %meta{ property: "og:title", content: "Christian DeWolf - Coding & Creative" }
    %meta{ property: "og:url", content: "https://www.christiandewolf.com" }
    %meta{ property: "og:description", content: "Download or order the new book, \"Ghostcrime\", the latest in sci-fi/comedy/horror with a Canadian edge." }

    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

  %body.background

    %canvas{id: "ocean", width: "1240", height: "999"}
    %canvas{id: "rainfield", width: "1240", height: "999"}

    #zone-keeper
      = render "layouts/dealzone"

    #wrapper
      - if notice
        %p.alert.alert-notice
          = notice
      - if alert
        %p.alert.alert-danger
          = alert
      = yield
      = render "layouts/footer"

      = render "scripts/init_cart"
      = render "scripts/ocean"

    %h5.right= "v #{app_version}"
