!!! 5

- main_title = "Christian DeWolf - Coding & Creative"
%html
  %head
    %title= main_title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "dealzone", "data-turbolinks-track" => true
    = javascript_include_tag "main", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "http://www.christiandewolf.com/ghostcrime-books.png" }
    %meta{ property: "og:title", content: "#{ main_title }" }
    %meta{ property: "og:url",   content: "https://www.christiandewolf.com" }
    %meta{ property: "og:description", content: "Download or order the new book, \"GHOSTCRIME\", the latest in sci-fi/comedy/horror." }

    %meta{ name: "twitter:card" content: "summary" }
    %meta{ name: "twitter:site" content: "@dewolfchristian" }
    %meta{ name: "twitter:title" content: "#{ main_title }" }
    %meta{ name: "twitter:description" content: "Download or order GHOSTCRIME, the latest in sci-fi/comedy/horror. Books, blogs, applications + more." }
    %meta{ name: "twitter:image" content: "http://www.christiandewolf.com/ghostcrime-books.png" }


    %meta{ name: "viewport", content: "width=device-width", initial: { scale: 1 } }

    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

  %body.background

    / %canvas{id: "ocean", width: "1300", height: "999"}
    / %canvas{id: "rainfield", width: "1300", height: "999"}

    = render "store/header"

    - if notice
      %p.alert.alert-notice
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

    - if controller_name == 'store' && action_name == 'index'
      = yield
    - else
      .smart-panel.panel
        = yield

    = render "store/footer"

    = render "scripts/init_cart"
    =# render "scripts/ocean"

    %h5.right= "v #{app_version}"
