!!! 5

- badger_title = "I Found This Badger"
- badger_desc  = "I found this badger and named it Jesse and these are our stories."

%html
  %head
    %title I Found This Badger

    = stylesheet_link_tag "application",   media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "badger/badger",   media: "all", "data-turbolinks-track" => true

    %link{rel: "stylesheet", media: "screen", href: "https://fontlibrary.org/face/cmu-serif", type:"text/css"}
    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "https://www.christiandewolf.com/thisbadger.png" }
    %meta{ property: "og:title", content: "#{ badger_title }" }
    %meta{ property: "og:url",   content: "https://www.christiandewolf.com/thisbadger" }
    %meta{ property: "og:description", content: "#{ badger_desc }" }

    %meta{ name: "twitter:card", content: "summary" }
    %meta{ name: "twitter:site", content: "@dewolfchristian" }
    %meta{ name: "twitter:title", content: "#{ badger_title }" }
    %meta{ name: "twitter:description", content: "#{ badger_desc }" }
    %meta{ name: "twitter:image", content: "https://www.christiandewolf.com/thisbadger.png" }

    = favicon_link_tag "badger.ico"

  %body.noselect

    = render "badger/header"

    - if notice
      %p.alert.alert-notice
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

    #badger-content

      #mobile-title
        %h1 I Found This Badger

      = render 'badger/badger_nav'

      = yield

    = render "badger/footer"
