!!! 5

- badstartup_blog_title = @post ? @post[:title] : "Bad Startup"
- badstartup_blog_desc = "Ignore the title; my startup is actually good."

%html
  %head
    %title Bad Startup

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "badstartup/badstartup",   media: "all", "data-turbolinks-track" => true

    %link{ rel: "stylesheet", media: "screen", href: "https://fontlibrary.org/face/cmu-serif", type:"text/css" }
    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "https://www.christiandewolf.com/badstartup-cover.png" }
    %meta{ property: "og:title", content: "#{ badstartup_blog_title }" }
    %meta{ property: "og:url",   content: "https://www.christiandewolf.com/badstartup" }
    %meta{ property: "og:description", content: "#{ badstartup_blog_desc }" }

    %meta{ name: "twitter:card", content: "summary" }
    %meta{ name: "twitter:site", content: "@dewolfchristian" }
    %meta{ name: "twitter:title", content: "#{ badstartup_blog_title }" }
    %meta{ name: "twitter:description", content: "#{ badstartup_blog_desc }" }
    %meta{ name: "twitter:image", content: "https://www.christiandewolf.com/badstartup-cover.png" }

    = favicon_link_tag "tumbler.ico"

  %body.noselect

    = render "badstartup/header"

    - if notice
      %p.alert.alert-notice
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

    #badstartup-content

      #mobile-title
        %h1 Bad Startup

      = render 'badstartup/badstartup_nav'

      = yield

    = render "badstartup/footer"
