!!! 5
%html
  %head
    %title Christian DeWolf - Interactive Fiction
    = stylesheet_link_tag    "woods/binarywoods", media: "all", "data-turbolinks-track" => true

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "woods/woods", "data-turbolinks-track" => true
    = javascript_include_tag "woods/tree_editor", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/jscolor.min", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ property: "og:image", content: "http://www.christiandewolf.com/diamondfind.png" }
    %meta{ property: "og:title", content: "Christian DeWolf -- Interactive Fiction" }
    %meta{ property: "og:url",   content: "https://www.christiandewolf.com/diamondfind" }
    %meta{ property: "og:description", content: "Massive playable stories from the author of GHOSTCRIME." }

    %meta{ name: "twitter:card", content: "summary" }
    %meta{ name: "twitter:site", content: "@dewolfchristian" }
    %meta{ name: "twitter:title", content: "Christian DeWolf -- Interactive Fiction" }
    %meta{ name: "twitter:description", content: "Play DIAMOND FIND today, the foremost diamond-finding simulator. Free forever." }
    %meta{ name: "twitter:image", content: "http://www.christiandewolf.com/diamondfind.png" }


    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

  %body.background

    = render "woods/header"

    #woods-wrapper
      - if notice
        %p.alert.alert-notice
          = notice
      - if alert
        %p.alert.alert-danger
          = alert

      = yield

      = render "woods/footer"

    %h5.right= "v #{app_version}"
