!!! 5

- computers_smart_title = @post ? @post[:title] : "Do you like COMPUTERS"
- computers_smart_desc  = @post ? @post[:desc]  : "If so, this is a blog about them"

%html
  %head
    %title Do you like COMPUTERS

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "computers/computers",   media: "all", "data-turbolinks-track" => true

    %link{ rel: "stylesheet", media: "screen", href: "https://fontlibrary.org/face/cmu-serif", type:"text/css" }
    %link{ href: 'https://fonts.googleapis.com/css?family=Artifika', rel: 'stylesheet', type: 'text/css' }

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %meta{ property: "og:image", content: "https://www.christiandewolf.com/computers-cover.png" }
    %meta{ property: "og:title", content: "#{ computers_smart_title }" }
    %meta{ property: "og:url",   content: "https://www.christiandewolf.com/computers" }
    %meta{ property: "og:description", content: "#{ computers_smart_desc }" }

    %meta{ name: "twitter:card", content: "summary_large_image" }
    %meta{ name: "twitter:site", content: "@dewolfchristian" }
    %meta{ name: "twitter:title", content: "#{ computers_smart_title }" }
    %meta{ name: "twitter:description", content: "#{ computers_smart_desc }" }
    %meta{ name: "twitter:image", content: "https://www.christiandewolf.com/computers-cover.png" }

    = favicon_link_tag "computers.ico"

  %body
    = render "/layouts/superbar"
    = render "computers/header"

    - if notice
      %p.alert.alert-notice
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

    #computers-content

      #mobile-title
        %h1 Do you like COMPUTERS

      = render 'computers/computers_nav'

      = yield

    = render "computers/footer"
