#archives.hidden
  %h1 Blog Archives
  %br
  %ul.no-bullets
    %li
      = render 'link_to_post', locals: { post_name: '20160212_2015_in_review' }
    %li
      = render 'link_to_post', locals: { post_name: '20151126_actually_did_publish_that_book' }
    %li
      = render 'link_to_post', locals: { post_name: '20150822_new_book_forthcoming' }
    %li
      = render 'link_to_post', locals: { post_name: '20150515_victoria_day_hacks' }
    %li
      = render 'link_to_post', locals: { post_name: '20150311_go_is_great' }
    %li
      = render 'link_to_post', locals: { post_name: '20141231_2014_in_review' }
    %li
      = render 'link_to_post', locals: { post_name: '20141123_breaking_badger_news' }
    %li
      = render 'link_to_post', locals: { post_name: '20140829_fractalfic_launched' }
    %li
      = render 'link_to_post', locals: { post_name: '20140804_not_buying_enough' }
    %li
      = render 'link_to_post', locals: { post_name: '20140628_press_to_impress' }
    %li
      = render 'link_to_post', locals: { post_name: '20140508_unpopular_diamond_finds' }
    %li
      = render 'link_to_post', locals: { post_name: '20140429_lara_game_reviews' }
    %li
      = render 'link_to_post', locals: { post_name: '20140208_bird_related_games' }
    %li
      = render 'link_to_post', locals: { post_name: '20131231_2013_in_review' }
    %li
      = render 'link_to_post', locals: { post_name: '20131216_animal_go_moves' }
    %li
      = render 'link_to_post', locals: { post_name: '20131023_deer_hunter_2014' }
    %li
      = render 'link_to_post', locals: { post_name: '20130815_grocery_shopping_tips' }
    %li
      = render 'link_to_post', locals: { post_name: '20130725_i_hate_marketing_in_2013' }
