#blog
  = render 'embed_post', locals: { post_name: '20160212_2015_in_review' }
  %br
  = render 'embed_post', locals: { post_name: '20151126_actually_did_publish_that_book' }
  %br
  = render 'embed_post', locals: { post_name: '20150822_new_book_forthcoming' }
  %br
  = render 'embed_post', locals: { post_name: '20150515_victoria_day_hacks' }
  %br
  = render 'embed_post', locals: { post_name: '20150311_go_is_great' }
  %br
  = render 'embed_post', locals: { post_name: '20141231_2014_in_review' }
  %br
  = render 'embed_post', locals: { post_name: '20141123_breaking_badger_news' }
  %br
  = render 'embed_post', locals: { post_name: '20140829_fractalfic_launched' }
  %br
  = render 'embed_post', locals: { post_name: '20140804_not_buying_enough' }
  %br
  = render 'embed_post', locals: { post_name: '20140628_press_to_impress' }
  %br
  = render 'embed_post', locals: { post_name: '20140508_unpopular_diamond_finds' }
  %br
  = render 'embed_post', locals: { post_name: '20140429_lara_game_reviews' }
  %br
  = render 'embed_post', locals: { post_name: '20140208_bird_related_games' }
  %br
  = render 'embed_post', locals: { post_name: '20131231_2013_in_review' }
  %br
  = render 'embed_post', locals: { post_name: '20131216_animal_go_moves' }
  %br
  = render 'embed_post', locals: { post_name: '20131023_deer_hunter_2014' }
  %br
  = render 'embed_post', locals: { post_name: '20130815_grocery_shopping_tips' }
  %br
  = render 'embed_post', locals: { post_name: '20130725_i_hate_marketing_in_2013' }

  %a.page-link.link{href: "archives"} Archives
