#diamondfind.hidden
  %a{:href => "https://www.christiandewolf.com/diamondfind", :target => "_blank", :title => "Play Diamond Find now!"}
    = image_tag('butler/patch.png', :height => "300", :title => "Goo, Mayors and Mystery in... Diamond Find!", :width => "500")
  %br/
  %br/
  %h3.Courier Play for free today!
  %br/
  %p.grayer Explore the soulless Diamond City and trek to the legendary Diamond Mountains on a hypnotizing hunt for DIAMONDS!  As owners of Diamond Find Inc., Shannon and Brahma want nothing more intensely - but can you help them find enough to unleash the fabled diamond magic told about only in delusional legend?  Perhaps today will be the day you find the Ghost Diamond!
  %br/
  = image_tag('butler/s_6.jpg', :height => "200", :title => "The Hen's Diamond - Discovered with the eggs on a frosty March morning in 1981, it protected the henhouse from coyotes with its sparkle for twenty years until the day a bear discovered the coop.", :width => "300")
  = image_tag('butler/s_35.jpg', :height => "200", :title => "The Dentist's Diamond - A monument to good polishing habits, it was the pride of renowned dentist Dr. Jane Lennerton until it was knocked out of a window by her clumsy hygienist, Cassie.", :width => "300")
  %br/
  %br/
  %br/
  = image_tag('butler/s_16.jpg', :height => "200", :title => "The Slime Diamond - Always slippery, it was discovered in a swamp by a group of doomed campers in 1967, but fell from their shattered canoe two days later on a river that turned unexpectedly brisk, leaving only one survivor.", :width => "300")
  = image_tag('butler/s_88.jpg', :height => "200", :title => "The Diamonds of Salt and Pepper - Capable of spicing up any mealtime, these added flavour to over ten dishes before disappearing from sous-chef Fred Patterson's kitchen counter the night he decided to experiment with MSG.", :width => "300")
  %br/
  %br/
  %br/
  %p.grayer
    Get ready to devour Diamond Find, the massive Story Choice Adventure featuring over
    %span.whitener 85,000
    words,
    %span.whitener 100
    high-res diamonds and over
    %span.whitener 500
    insane endings.
  %br/
  %br/
  = image_tag('butler/df-ff.jpg', class: "swell pointer" )
  %br/
  %br/
  %br/
  = image_tag('butler/fb-logo.png', class: "swell pointer" )
  %br/
