= render "about"
= render "archives"
= render "blackink"
= render "blog"
= render "diamondfind"
= render "ghostcrime"
= render "gray"
= render "reserve"
= render "silverstock"
= render "snapback"
= render "thisbadger"
