= form_for @palette do |f|
  - if @palette.errors.any?
    #error_explanation
      %h2= "#{pluralize(@palette.errors.count, "error")} prohibited this woods_palette from being saved:"
      %ul
        - @palette.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
